{% extends 'base.html' %}
{% block body %}

	
<div  class="lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >APPLE</h1>
<img src="static/Apple.jpg" alt="Apple">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>

<div  class="para text-justify">

<p class="para text-justify">Apple (Malus pumila) is commercially the most important temperate fruit and is fourth among the most widely produced fruits in the world.

In India, Apple is primarily cultivated in Jammu Kashmir, Nagaland, Punjab and Sikkim. 

Apples are mostly consumed fresh but a small part of the production is processed in to&nbsp; juices, jellies, canned slices and other items.
</p>

<p><h5><strong>Agro-climatic requirements</h5></strong></p></h5>

<p class="para text-justify">Apple can be grown at altitudes 1,500-2,700 m. above m.s.l. in the Himalayan range which experience 1,000-1,500 hours of chilling (the no. of hours during which temperature remains at or below 70 C during the winter season). The temperature during the growing season is around 21-24⁰ C. For optimum growth and fruiting, apple trees need 100-125 cm. of annual rainfall, evenly distributed during the growing season.</p>

<p class="para text-justify">Excessive rains and fog near the fruit maturity period result in poor fruit quality with improper colour development and fungal spots on its surface. Areas exposed to high velocity of winds are not desirable for apple cultivation.</p>

<p class="para text-justify">Loamy soils, rich in organic matter with pH 5.5 to 6.5 and having proper drainage and aeration are suitable for cultivation. The soil should be free from hard substrata and water-logged conditions. Soils with heavy clay or compact subsoil are to be avoided.</p>

<p>&nbsp;</p>

<p><h5><strong>3.&nbsp;&nbsp;&nbsp; Planting</h5></strong></p></h5></h5>

<p><h5><strong>3.1 Planting Material</h5></strong></p></h5>

<p class="para text-justify">The budding and tongue grafting methods are commonly used for propagation of apple. The planting material should be purchased only from the registered nurseries and proper care should be taken during transportation of the same.</p>

<p>&nbsp;</p>

<p><h5><strong>3.2 Planting season</h5></strong></p></h5>

<p>Planting is usually done in the month of January and February.</p>

<p>&nbsp;</p>

<p><h5><strong>3.3 Spacing</h5></strong></p>

<p>&nbsp;</p>

<p>The average number of plants in an area of one ha. can range between 200 to 1250. Four different categories of planting density are followed viz. low (less than 250 plants/ha.), moderate (250-500 plants/ha.), high (500-1250 plants/ha.) and ultra high density (more than 1250 plants /ha.). The combination of rootstock and scion variety determines the plant spacing and planting density/unit area.</p>

<p>&nbsp;</p>

<p><h5><strong>3.4 Planting Method</h5></strong></p>

<p>&nbsp;</p>

<p>Square or hexagonal system of planting is followed in the valleys whereas contour method is usually followed on the slopes. Plantation of pollinator species in between the main species is essential for proper fruit setting. For establishment of an orchard having Royal Delicious variety, plantation of Red Delicious and Golden Delicious as pollinators is recommended by the Horticulture Department. In the month of October-November, pits of size 1x1x1 m. are prepared for planting. In each pit, 30-40 kg. of FYM, 500 g. of Single super phosphate and 50 g. of Malathion dust are added after mixing properly. After about a month the planting is done. One irrigation should be provided immediately after planting.</p>

<p>&nbsp;</p>

<p><h5><strong>4. Nutrition</h5></strong></p>

<p>Farmyard manure @ 10 kg./ year age of tree is applied along with other fertilizers. The ratio of N, P and K which is applied in an orchard of optimal fertility is 70:35:70 g./year (age of the tree). After 10 years of age, the dose is stabilized at 700:350:700 g. of N, P and K /year. The standard fertilizer dose of N, P and K in an &ldquo;off&rdquo; year (when the crop load is low) is 500 g., 250g. and 400 g. respectively. On some trees deficiency of zinc, boron, manganese and calcium may be observed which is corrected with the application of appropriate chemicals through foliage spray.</p>

<p>&nbsp;</p>

<p><h5><strong>5.&nbsp;&nbsp; Irrigation</h5></strong></p>

<p>The water requirement of apple is 114 cm. per annum which can be scheduled in 15-20 irrigations. In summer, irrigation is provided at an interval of 7-10 days while in winter it is given at an interval of 3-4 weeks. At least 8 irrigations are to be provided during critical period (April-August) i.e. main requirement after fruit set.</p>

<p><h5><strong>6. Training&nbsp; &amp; pruning</h5></strong></p>

<p>Timely pruning and training operation is essential for proper growth and good productivity. The plants are trained according to growth habit and vigour of the rootstocks. The standard trees are trained on modified central leader system so that plants receive proper light.&nbsp; This improves fruit colour and also minimises the effect of heavy snowfall and hail.&nbsp; Spindle bush system is suitable for high density planting under mid hill conditions.</p>

<p>Pruning is essential to maintain a proper balance between vegetative growth and spur development. Proper pruning of weak and undesirable branches/twigs is necessary after six years of plantation.</p>

<p>&nbsp;</p>

<p><h5><strong>7. Intercultural Operations</h5></strong></p>

<p>Application of glyphosate @ 800 ml./ha. or Gammaxone /Paraquat (0.5% ) as post emergence herbicide suppresses weed growth for 4-5 months.</p>

<p>&nbsp;</p>

<p><h5><strong>8.&nbsp; Training&nbsp; &amp; pruning</h5></strong></p>

<p>Timely pruning and training operation is essential for proper growth and good productivity. The plants are trained according to growth habit and vigour of the rootstocks. The standard trees are trained on modified central leader system so that plants receive proper light.&nbsp; This improves fruit colour and also minimises the effect of heavy snowfall and hail.&nbsp; Spindle bush system is suitable for high density planting under mid hill conditions.</p>

<p>Pruning is essential to maintain a proper balance between vegetative growth and spur development. Proper pruning of weak and undesirable branches/twigs is necessary after six years of plantation.</p>

<p>&nbsp;</p>

<p><h5><strong>9.&nbsp; Intercultural Operations</h5></strong></p>

<p>Application of glyphosate @ 800 ml./ha. or Gammaxone /Paraquat (0.5% ) as post emergence herbicide suppresses weed growth for 4-5 months.</p>

<p>&nbsp;</p>

<p><h5><strong>10.&nbsp;&nbsp; Mulching</h5></strong></p>

<p>Mulching with hay or black alkathene is found to be effective in controlling the weeds in cool climates and also in conserving moisture.&nbsp; Use of dry grass or oak leaves has also been found to be effective in conserving soil moisture.</p>

<p>&nbsp;</p>

<p><h5><strong>11.&nbsp; Inter-cropping</h5></strong></p>

<p>Green manuring crops viz. sunflower and bean may be cultivated in the early years of plantation in order to improve soil texture and nutrient status of soil.</p>

<p>&nbsp;</p>

<p><h5><strong>12.&nbsp;&nbsp;&nbsp; Growth regulators</h5></strong></p>

<p>Use of growth hormones is essential for good flowering and proper colouration in fruits. Heavy bearing in apple usually results in small-sized, poor quality fruits and sets in alternate bearing cycle. Fruit thinning is essential in pollinizing varieties for regulating adequate cross-pollination. Chemicals like carbaryl or Sevin @ 750-1000 ppm. or NAA @ 10-20 ppm. at petal fall may be applied for the purpose.</p>

<p>&nbsp;</p>

<p><h5><strong>13&nbsp;&nbsp;&nbsp; Plant Protection Measures</h5></strong></p>

<p><h5><strong>13.1&nbsp;&nbsp;&nbsp; Insect Pests</h5></strong></p>

<p>The insect pests mostly observed are San Jose Scale (Quadraspidiotus perniciosus), white scale (Pseudoulacaspis sp.), wooly apple aphid (Eriosoma lanigerum), blossom thrips (Thrips rhopalantennalis) etc. Planting of resistant rootstocks, suitable intercultural operations and spraying with chloropyriphos, fenitrothion, carbaryl etc. have been found to be effective in controlling the pests.</p>

<p>&nbsp;</p>

<p><h5><strong>13.2&nbsp;&nbsp;&nbsp; Diseases</h5></strong></p>

<p>The main diseases reported are collar rot (Phytophthora cactorum), apple scab (Venturia inaequalis), sclerotius blight (Sclerotium rolfsii), crown gall (Agrobacterium tumefaciens), cankers, die-back diseases etc. Plants resistant to the diseases should be used for cultivation. The infected plant parts need to be destroyed. Application of copper oxychloride, carbendazim, mancozeb and other fungicides have been found to be effective in controlling the diseases.</p>

<p>&nbsp;</p>

<p><h5><strong>13.3&nbsp;&nbsp;&nbsp; Disorders</h5></strong></p>

<p>In apple, there are three distinct fruit drops,</p>

<p>i) early drop resulting from unpollinated or unfertilized blossoms</p>

<p>ii) June drop (due to moisture stress and fruit competition)</p>

<p>iii) Pre-harvest drop. Pre-harvest drop can be controlled by spraying NAA @ 10 ppm. (1 ml. of Planofix dissolved in 4.5 l. of water) about a week before the expected drop.</p>

<p>&nbsp;</p>

<p>&nbsp;<h5><strong>14.&nbsp; Harvesting&nbsp; and Yield</h5></strong></p>

<p>The orchard start bearing from eighth year and the economic life of an apple tree exceeds 30 years. From eighth to seventeenth year, productivity goes on increasing and thereafter remains constant upto 30 years. The level of productivity varies form elevation to elevation. Production stage extends upto even forty years depending upon agro-climatic condition. Apple being a climacteric fruit, the maturity period does not coincide with ripening. The fruits are usually harvested before they are fully ripe.</p>

<p>&nbsp;</p>

<p><h5><strong>15.&nbsp; POST HARVEST MANAGEMENT</h5></strong></p>

<p><h5><strong>15.1 Pre-cooling</h5></strong></p>

<p>The fruits are placed in a cool and ventilated place to remove field heat before packing. Fruit surface must be free from moisture before grading, wrapping or packing in cartons.</p>

<p>&nbsp;</p>

<p><h5><strong>15.2&nbsp;&nbsp;&nbsp; Grading</h5></strong></p>

<p>Grading of apples is done according to fruit size and fruit appearance or quality. On the basis of fruit size, apples are graded manually in 6 grades. On the basis of fruit colour, shape, quality and appearance, apple fruits can be graded in three or more quality grades. These grades are designated as AAA, AA and A; A,B,C; or extra fancy, fancy class I and fancy class II.</p>

<p>&nbsp;</p>

<p><h5><strong>15.3&nbsp; Storage</h5></strong></p>

<p>Apples have a long storage life compared to other fruits and can be stored for a period of 4-8 months after harvesting. The fruits can be kept in cold storage at a temperature of about &ndash; 1.10 to 00 C and 85-90% relative humidity.</p>

<p>&nbsp;</p>

<p><h5><strong>15.4&nbsp;&nbsp;&nbsp;&nbsp; Packing</h5></strong></p>

<p>Apples are usually packed in wooden boxes having the capacity to accommodate about 10 or 20 kg. fruits. Corrugated fibre board cartons are also used for packing.</p>

<p>&nbsp;</p>

<p><h5><strong>15.5&nbsp;&nbsp;&nbsp;&nbsp; Transportation</h5></strong></p>

<p> Road transport by trucks is the most popular mode of transport due to easy approach from orchards to the market.</p>

<p>&nbsp;</p>

<p><h5><strong>15.6 Marketing</h5></strong></p>

<p>Marketing of the produce is mainly controlled by intermediaries like wholesalers and commission agents.&nbsp; During years of good production, the wholesale prices in producing areas slip down to un-remunerative levels.</p>
</div>
</div>
{%endblock%}