{% extends 'base.html' %}
{% block body %}
<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >BANANA</h1>
<img src="https://wallpapercave.com/wp/wp2321164.jpg" alt="Banana">
	<p><strong>1.&nbsp; INTRODUCTION</strong></p>

	<p>Banana (Musa sp.) is the second most important fruit crop in India next to mango. Its year round availability, affordability, varietal range, taste, nutritive and medicinal value makes it the favourite fruit among all classes of people. It has also good export potential.</p>
	
	<p>Hi-tech cultivation of the crop is an economically viable enterprise leading to increase in productivity, improvement in produce quality and early crop maturity with the produce commanding premium price.</p>
	
	<p><strong>2. Area &amp; Production</strong></p>
	
	<p>India leads the world in banana production with an annual output over 30 million tonnes. Production is highest in Maharashtra followed by Tamil Nadu. The other major banana producing states are Karnataka, Gujarat, Andhra Pradesh and Assam.</p>
	
	<p><strong>3. Economic Importance</strong></p>
	
	<p>Banana is a very popular fruit due to its low price and high nutritive value. It is consumed in fresh or cooked form both as ripe and raw fruit.</p>
	
	<p>Banana is a rich source of carbohydrate and is rich in vitamins particularly vitamin B. It is also a good source of potassium, phosphorus, calcium and magnesium. The fruit is easy to digest, free from fat and cholesterol. Banana powder is used as the first baby food. It helps in reducing risk of heart diseases when used regularly and is recommended for patients suffering from high blood pressure, arthritis, ulcer, gastroenteritis and kidney disorders.</p>
	
	<p>Processed products, such as chips, banana puree, jam, jelly, juice, wine and halwa can be made from the fruit. The tender stem, which bears the inflorescence is extracted by removing the leaf sheaths of the harvested pseudostem and used as vegetable. Plantains or cooking bananas are rich in starch and have a chemical composition similar to that of potato.</p>
	
	<p>Banana fibre is used to make items like bags, pots and wall hangers. Rope and good quality paper can be prepared from banana waste. Banana leaves are used as healthy and hygienic eating plates.</p>
	
	<p>&nbsp;</p>
	
	<p><strong>4.&nbsp;&nbsp; PRODUCTION TECHNOLOGY</strong></p>
	
	<p><strong>4.1 Agro-climatic requirements</strong></p>
	
	<p>Banana, basically a tropical crop, grows well in a temperature range of 15&ordm;C &ndash; 35&ordm;C with relative humidity of 75-85%. It prefers tropical humid lowlands and is grown from the sea level to an elevation of 2000m. above m.s.l.. In India this crop is being cultivated in climate ranging from humid tropical to dry mild subtropics through selection of appropriate varieties. Chilling injury occurs at temperature below 12&ordm;C. High velocity of wind which exceeds 80 km /hr. damages the crop. Four months of monsoon (June to September) with an average 650-750 mm. rainfall are most important for vigorous vegetative growth of banana. At higher altitudes, banana cultivation is restricted to a few varieties like &lsquo;Hill banana&rdquo;.</p>
	
	<p>Deep, rich loamy soil with pH between 6.5 &ndash; 7.5 is most preferred for banana cultivation. Soil for banana should have good drainage, adequate fertility and moisture. Saline solid, calcareous soils are not suitable for banana cultivation. A soil which is neither too acidic nor too alkaline, rich in organic material with high nitrogen content, adequate phosphorus level and plenty of potash is good for banana.</p>
	
	<p><strong>4.2&nbsp; Varieties Cultivated</strong></p>
	
	<table align="center" border="1" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td style="width:144px;">
				<p><strong>State</strong></p>
				</td>
				<td style="width:427px;">
				<p><strong>Varieties grown</strong></p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Andhra Pradesh</p>
				</td>
				<td style="width:427px;">
				<p>Dwarf Cavendish, Robusta, Rasthali, Amritpant, Thellachakrakeli, Karpoora Poovan, Chakrakeli, Monthan and Yenagu Bontha</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Assam</p>
				</td>
				<td style="width:427px;">
				<p>Jahaji (Dwarf Cavendish), Chini Champa, Malbhog, Borjahaji (Robusta), Honda, Manjahaji, Chinia (Manohar), Kanchkol, Bhimkol, Jatikol, Digjowa, Kulpait, Bharat Moni</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Bihar</p>
				</td>
				<td style="width:427px;">
				<p>Dwarf Cavendish, Alpon, Chinia , Chini Champa, Malbhig, Muthia, Kothia , Gauria</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Gujarat</p>
				</td>
				<td style="width:427px;">
				<p>Dwarf Cavendish, Lacatan, Harichal (Lokhandi), Gandevi Selection, Basrai, Robusta, G-9, Harichal, Shrimati</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Jharkhand</p>
				</td>
				<td style="width:427px;">
				<p>Basrai, Singapuri</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Karnataka</p>
				</td>
				<td style="width:427px;">
				<p>Dwarf Cavendish, Robusta, Rasthali, Poovan, Monthan, Elakkibale</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Kerala</p>
				</td>
				<td style="width:427px;">
				<p>Nendran (Plantain), Palayankodan (Poovan), Rasthali, Monthan, Red Banana, Robusta</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Madhya Pradesh</p>
				</td>
				<td style="width:427px;">
				<p>Basrai</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Maharashtra</p>
				</td>
				<td style="width:427px;">
				<p>Dwarf Cavendish, Basrai, Robusta, Lal Velchi, Safed Velchi, Rajeli Nendran, Grand Naine, Shreemanti, Red Banana</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Orissa</p>
				</td>
				<td style="width:427px;">
				<p>Dwarf Cavendish, Robusta, Champa, Patkapura (Rasthali)</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>Tamil Nadu</p>
				</td>
				<td style="width:427px;">
				<p>Virupakshi, Robusta, Rad Banana, Poovan, Rasthali, Nendran, Monthan, Karpuravalli, Sakkai, Peyan, Matti</p>
				</td>
			</tr>
			<tr>
				<td style="width:144px;">
				<p>West Bengal</p>
				</td>
				<td style="width:427px;">
				<p>Champa, Mortman , Dwarf Cavendish, Giant Governor, Kanthali, Singapuri</p>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div style="clear:both;">&nbsp;</div>
	
	<p>&nbsp;</p>
	
	<p><strong>4.3 Land Preparation</strong></p>
	
	<p>Prior to planting banana, green manuring crop like daincha, cowpea etc. may be grown. The land can be ploughed 2-4 times and leveled. Ratovator or harrow is used to break the clod and bring the soil to a fine tilt. During soil preparation basal dose of FYM (about 50 tonnes/ha. before last harrowing) is added and thoroughly mixed into the soil.</p>
	
	<p><strong>4.4 Planting</strong></p>
	
	<p><strong>4.4.1 Planting Material</strong></p>
	
	<p>About 70% of the farmers are using suckers as planting material while the rest 30% of the farmers are using tissue culture seedlings. Sword suckers with well developed rhizome, conical or spherical in shape having actively growing conical bud and weighing approximately 450-700 gm are commonly used as propagating material.</p>
	
	<p>Suckers generally may be infected with some pathogens and nematodes. Similarly due to the variation in age and size of sucker, crop is not uniform, harvesting is prolonged and management becomes difficult. Therefore, in-vitro clonal propagation i.e. Tissue culture plants are recommended for planting. They are healthy, disease free, uniform in growth and early yielding.</p>
	
	<p>&nbsp;</p>
	
	<p><strong>4.4.2 Treatment of Planting material</strong></p>
	
	<p>The roots and base of the planting material may be removed. The suckers are dipped in a solution of 0.5 % monocrotophos and bavistin (0.1%) before planting.</p>
	
	<p>&nbsp;</p>
	
	<p><strong>4.4.3 Planting season</strong></p>
	
	<p>Planting of tissue culture banana can be done throughout the year as per the market demand except when the temperature is too low or too high. The planting time may be adjusted so as to avoid high temperature and drought at the time of emergence of bunches (i.e. approx. 7-8 months after planting). The planting time for long duration cultivars is different from short duration ones.</p>
	
	<p>Thus, the important seasons for planting followed in different states of India are:</p>
	
	<p style="margin-left:3.75pt;">&nbsp;</p>
	
	<table align="center" border="1" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td style="width:249px;">
				<p><strong>State</strong></p>
				</td>
				<td style="width:318px;">
				<p><strong>Planting time</strong></p>
				</td>
			</tr>
			<tr>
				<td style="width:249px;height:45px;">
				<p>Maharashtra</p>
				</td>
				<td style="width:318px;height:45px;">
				<p style="margin-left:36.0pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kharif&nbsp; - June &ndash; July</p>
	
				<p style="margin-left:36.0pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rabi - October &ndash; November</p>
				</td>
			</tr>
			<tr>
				<td style="width:249px;">
				<p>Tamil Nadu</p>
				</td>
				<td style="width:318px;">
				<p style="margin-left:36.0pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; February &ndash; April</p>
	
				<p style="margin-left:36.0pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; November - December</p>
				</td>
			</tr>
			<tr>
				<td style="width:249px;">
				<p>Kerala</p>
				</td>
				<td style="width:318px;">
				<p style="margin-left:36.0pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rainfed- April-May</p>
	
				<p style="margin-left:36.0pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Irrigated crop- August- September</p>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div style="clear:both;">&nbsp;</div>
	
	<p style="margin-left:3.75pt;">&nbsp;</p>
	
	<p><strong>4.4.4 Spacing</strong></p>
	
	<p>Traditionally banana growers plant the crop at 1.5m x 1.5m with high density; however plant growth and yields are poor because of competition for sunlight. The region like north India, coastal belt and where humidity is very high and temperature falls down upto 5-7&ordm;C, the planting distance should not be less than 2.1m x 1.5m.</p>
	
	<p>&nbsp;</p>
	
	<table align="center" border="1" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td style="width:198px;">
				<p><strong>Season</strong></p>
				</td>
				<td style="width:294px;">
				<p><strong>&nbsp;Spacing </strong></p>
				</td>
			</tr>
			<tr>
				<td style="width:198px;">
				<p>Kharif</p>
				</td>
				<td style="width:294px;">
				<p>1.5 x 1.5 m., 2 x 2 m. or 2.5 x 2.5 m.</p>
				</td>
			</tr>
			<tr>
				<td style="width:198px;">
				<p>Rabi</p>
				</td>
				<td style="width:294px;">
				<p>1.5 x 1.2 m., 1.5 x 1.37 m.</p>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div style="clear:both;">&nbsp;</div>
	
	<p style="margin-left:3.75pt;">&nbsp;</p>
	
	<p>Banana planting is carried out on the basis of patta double line method. In this method, the distance between the two lines is 0.90 to 1.20 m. while plant to plant distance is 1.2 to 2 m. Due to this spacing, intercultural operations can be carried out easily and cost of drip irrigation is decreased. Experiments carried out recently show that good quality banana and heavy bunch can be achieved by keeping the planting distance at 1.8 X 1.8 m. However, to get maximum yield plantation is done at 1.2 X 1.5 m.</p>
	
	<p><strong>5.5.5 Planting Method</strong></p>
	
	<p>&nbsp;</p>
	
	<p>Pit planting is commonly followed in garden system of cultivation. A pit size of 0.5 x 0.5 x 0.5 m. is normally required. Small pits are dug in case of ridges and furrows. The pits are to be refilled with topsoil mixed with 10 kg of FYM (well decomposed), 250 gm of neem cake and 20 gm of carbofuran. Prepared pits are left open for 15-20 days for solar radiation to kill all the insects, soil borne diseases and for aeration before refilling. In saline alkali soil where pH is above 8, pit mixture is to be modified incorporating organic matter and gypsum.</p>
	
	<p>The suckers are planted in the centre of the pit and soil around is compacted. Plants are planted in the pits keeping pseudostem 2cm below the ground level. Soil around the plant is gently pressed. Deep planting should be avoided. The field is irrigated immediately after planting.</p>
	
	<p>Furrow planting is practiced in annual planting system in the states of Gujarat and Maharashtra. Trench planting is practiced in wet land cultivation of Cauvery delta region of Tamil Nadu.</p>
	
	<p>&nbsp;</p>
	
	<p><strong>&nbsp;5.6 Nutrition</strong></p>
	
	<p>Banana requires high amount of nutrients, which are often supplied only in part by the soil. Nutrient requirement (worked out on all India basis) is 10 kg FYM, 200 - 250gm N; 60-70gm P; 300gm K/plant. Banana crop requires 7-8 Kg N, 0.7- 1.5 Kg P and 17-20 Kg K per metric ton yield. Traditionally farmers use more of urea and less of phosphorous and potash. Urea is applied in three to four split doses.</p>
	
	<p>About 100 g. of N/plant as top dressing in three equal split doses 60, 90 and 120 days after planting.&nbsp; Further application of 100 g. potash and also 40 g. of phosphorus are essential and applied at planting. Application of full dose of P and K at planting and N in three equal doses in shallow rings about 8-10 cm. deep are recommended.</p>
	
	<p>Application of 150 g. N in vegetative phase and 50 g. N in reproductive phase enhances the yield. Application of 25% N as farmyard manure and 1 kg. neem cake is beneficial. The application of 25 % N in organic form, 75 % N in inorganic form along with growing green manure crops is found to be beneficial. The requirement of phosphorus is comparatively low. Superphosphate forms the major source of P followed by the application of rock phosphate 50-95 g./ plant at planting. In acidic soils, triple superphosphate or diammonium phosphate is recommended. Phosphorus is applied in single dose at the time of planting and quantity of P2O5&nbsp; depends upon the soil type and varies from 20 to 40 g. /plant.</p>
	
	<p>Potassium is indispensable in banana cultivation due to its role in vital functions. It is not stored and its availability is influenced by temperature. Thus continuous supply is required at finger filling stage. Application of K (100 g.) in two splits during vegetative phase and 100 g. in two splits during reproductive phase is recommended. Application of 200-300 g. K2O is recommended depending upon the cultivar. Plantains need higher K than other group of cultivars. Muriate of potash is generally used as a source of K. But in soils with pH above 7.5, potassium sulphate is advantageous.</p>
	
	<p>Calcium influences yield through its interaction with N, P and K. In acidic soils, use of dolomite (Mg2CO3) and limestone (CaCO3) as soil amendments is common.</p>
	
	<p>In case of acute Mg deficiencies, foliar application of Mg SO4 is found to be effective. Although sulphur deficiency in soils has been reported in some cases but is not a serious problem in case of banana. Sulphur uptake is active during sucker to shooting stage but after shooting sulphur supply comes from leaves and pseudostem.</p>
	
	<p>&nbsp;</p>
	
	<p><strong>Fertigation :</strong> In order to avoid loss of nutrients from conventional fertilizers i.e. loss of N through leaching, volatilization, evaporation and loss of P and K by fixation in the soil, application of water soluble or liquid fertilizers through drip irrigation (fertigation) is adopted. A 25-30% increase in yield is observed using fertigation. Moreover, it saves labour and time and the distribution of nutrients is uniform.</p>
	
	<p>&nbsp;</p>
	
	<p><strong>5.7&nbsp;&nbsp;&nbsp;&nbsp; Irrigation</strong></p>
	
	<p>Banana being a succulent, evergreen and shallow rooted crop requires large quantity of water for increasing productivity. Water requirement of banana has been worked out to be 1,800 &ndash; 2,000 mm per annum. In winter, irrigation is provided at an interval of 7-8 days while in summer it should be given at an interval of 4-5 days. However, during rainy season irrigation is provided if required as excess irrigation will lead to root zone congestion due to removal of air from soil pores, thereby affecting plant establishment and growth. In all, about 70-75 irrigations are provided to the crop.</p>
	
	<p>Banana production should be supported by an efficient irrigation system like drip irrigation.&nbsp; Normal furrows, basin and trench systems are followed. Application of drip irrigation and mulching technology has reported to improve water use efficiency. There is saving of 58% of water and increasing yield by 23-32% under drip. Besides, the system also enables efficient fertilizer application through the fertigation technique.</p>
	
	<p>&nbsp;</p>
	
	<p><strong>5.8&nbsp;&nbsp;&nbsp;&nbsp; Intercultural Operations</strong></p>
	
	<p>The following inter-cultural operations are recommended for optimum productivity of the crop :</p>
	
	<p>i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Spraying of Glyphosate before planting @ 2 lit/ha is carried out to keep the plantation weed free.</p>
	
	<p>&nbsp;</p>
	
	<p>ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Four to five weedings are to be done whenever necessary.</p>
	
	<p>&nbsp;</p>
	
	<p>iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Harrowing the field three to four times to keep the soil loose. Earthing up should be done at 3-4 months after planting raising the soil level around the base of the plant by 10-12&rdquo;. It is better to prepare a raised bed and keep the drip line on bed 2-3&rdquo; away from the plant. It also helps to protect plants from wind damage and production losses to some extent.</p>
	</body>
	</html>
	
</div></div>
{%endblock%}


