<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Crop Recommendation System</title>
    {% endblock %}
  </head>
  <body>
      <!-- Navbar -->
    <section >
        <nav style="background-color: #393e46!important" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" style="color:#00adb5;font-weight:bold;font-size:16px;" href="{{ url_for('home') }}">CROP RECOMMENDATION SYSTEM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav m-auto m-3 	">
                <li class="nav-item pl-3 pr-3">
                  <a class="nav-link"  style="color:#00adb5;" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item pl-3 pr-3">
                  <a class="nav-link" style="color:#00adb5;" href="{{ url_for('prediction') }}">Crop Prediction</a>
                </li>
                <li class="nav-item pl-3 pr-3">
                  <a class="nav-link" style="color:#00adb5;" href="{{ url_for('cropinfo') }}">Know your Crops</a>
                </li>
                <li class="nav-item pl-3 pr-3">
                  <a class="nav-link" style="color:#00adb5;" href="{{ url_for('contribute') }}">Contribute Data</a>
                </li>
                <li class="nav-item pl-3 pr-3">
                  <a class="nav-link" style="color:#00adb5;" href="{{ url_for('feedback') }}">Give feedback</a>
                </li>
              </ul>
            </div>
          </nav>
    </section >
    {% block body %}

    {% endblock %}   
  </body>
</html>
