{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Blackgram</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Black_gram.jpg" alt="Blackgram">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">
      <p><strong>Black gram (Vigna Mungo L.)</strong>, is one of the important pulses crop, grown throughout the country. The crop is resistant to adverse climatic conditions and improve the soil fertility by fixing atmospheric nitrogen in the soil. It has been reported that the crop produces equivalent to 22.10 kg of N/ha., which has been estimated to be supplement of 59 thousand tonnes of urea annually.</p>
      <p>&nbsp;The pulse &#39;Black gram&#39; plays an important role in Indian diet, as it contains vegetable protein and supplement to cereal based diet. It contains about 26% protein, which is almost three times that of cereals and other minerals and vitamins. Besides, it is also used as nutritive fodder, specially for milch animals. Madhya Pradesh, Uttar Pradesh and Andhra Pradesh&nbsp; are major blackgram growing states area-wise.</p>
      <p><strong>Climate requirement </strong></p>
      <p>Being a crop of tropical region, it requires hot and humid climate for best growth. It is basically a warm weather crop. In North parts of the country where the temperatures during winter are quite low, it is cultivated generally during rainy and summer season&nbsp; In the eastern states, it is also grown during winter&nbsp; In Central and Southern states, where there is not much variation in the climate, it is cultivated during winter and rainy seasons</p>
      <p><strong>Soil &amp; Land Preparation </strong></p>
      <p>Black gram can be grown on variety of soils ranging from sandy soils to heavy cotton soils .The most ideal soil is a well drained loam with pH of 6.5 to 7.8.&nbsp; Black gram cannot be grown on alkaline and saline soils. Land is prepared like any other kharif season pulse crop. However during summer it requires a thorough preparation to give a pulverized free from stubbles and weeds completely.&nbsp;</p>
      <p><strong>Sowing Time &amp; Method </strong></p>
      <ul>
         <li><strong>Kharif&nbsp;&nbsp; :</strong> In kharif season sowing is done with the onset of monsoon in later part of June or early part of July. &nbsp;</li>
         <li><strong>Rabi :</strong> Second fortnight of October (upland) second fortnight of November (Rice fallow) &nbsp;</li>
         <li><strong>Summer :</strong> The sowing could be done from the third week of February to first week of&nbsp; April. Sowing should be done in furrows opened at a distance of 20-25 cm. seed&nbsp; drill could be used for this purpose.</li>
      </ul>
      <p><strong>Seed Treatment </strong></p>
      <p>Treat the seed with Thirum (2g) + Carbendazim (1g) or Carbendazim @2.5 g/kg seed to control the&nbsp; soil &amp; seed germinated disease. For sucking pest control seed treatment with Imidacloprid 70 WS @ 7g/ kg seed. It is also desirable to treat the seed with Rhizobium &amp; PSB culture (5-7 gm/kg seed). &nbsp;</p>
      <p><strong>Cropping System </strong></p>
      <p>The important crop rotation with urd are as given below</p>
      <p>i) Maize-Potato-Urd bean; ii) Maize-Toria-Urdbean; iii) Rice-Wheat-Urdbean; iv) Urdbean-Mustard-Mungbean/Urdbean; v)&nbsp; Potato-wheat- Urdbean</p>
      <p><strong>Intercropping </strong></p>
      <p>Kharif &ndash; Urdbea + Pigeonpea (1:1)</p>
      <p>Spring &ndash; Urdbean+ Sugarcane (2:1); Urdbean + Sunflower (2:6)&nbsp;</p>
      <p><strong>Fertilizer </strong></p>
      <p>For sole crop 15-20 kg/ha Nitrogen, 40-50 kg/ha Phosphorus, 30-40 kg/ha Potash, 20 kg/ha Sulphur is should be applied at the time of last ploughing. However phosphatic and potassic fertilizer should be applied as per soil test value. Fertilizer should be applied by drilling either at the time of sowing or just before sowing in such a way that they are placed about 5-7 cm below the seed. Use of gypsum @ 100 kg/ha would ensures availability of calcium and sulphur at economical rates.</p>
      <p><strong>Secondary and Micro Nutrients&nbsp; </strong></p>
      <p>1. <strong>Sulphur -</strong> In medium black soils and sandy loam soils apply 20 kg S ha-1 (equivalent to 154 kg gypsum/ phospho-gypsum/ or 22 kg bentonite sulphur) as basal to each crop.</p>
      <p>If S deficiency is diagnosed red sandy loam soils, apply 40 kg S ha-1 (equivalent to 300 kg gypsum/phospho-gypsum/or 44 kg bentonite sulphur) per hectare. This quantity is sufficient for one crop cycle.</p>
      <p><strong>2.Zinc-</strong> Quantity of Zinc requirement determined according to the soil type &amp; it&rsquo;s availability or status in the soil.</p>
      <p><strong>3.Manganese-</strong> In manganese deficient sandy loam soils, Seed soaking with 2% manganese sulphate OR foliar spray of 1% manganese sulphate is recommended.</p>
      <p><strong>4.Molybdenum - </strong>In molybdenum deficient soils, application of 0.5 kg sodium molybdate ha<sup>-1</sup> as basal OR two foliar sprays of 0.1% sodium molybdate or seed treatment is recommended.</p>
      <p><strong>Water management </strong></p>
      <p>In kharif season irrigation not required, if rainfall is normal &amp; if moisture deficit at pod formation stage irrigation should apply. In summer 3-4 irrigation required according to crop requirement. Generally, the crop should get irrigation at an interval of 10-15 days. From flowering to pod development stage, there is need of sufficient moisture in the field.</p>
      <p><strong>Weed control</strong></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; One or two hand weedings should be done up to 40 days of sowing depending upon the weed intensity. Weeds can be controlled by the use of chemicals too. Use Pendimethalin 0.75-1.00 kg a.i. per ha in 400-600 liters of water as pre-emergence application.&nbsp;</p>
      <p><strong>Plant Protection Measures</strong></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The major diseases are yellow mosaic in northern plains and powdery mildew in southern and south-eastern regions (in rabi). To control insect and pest, yellow mosaic virus, application of Phorate in soil before or at sowing @ 1 kg/ha is required.</p>
      <ol>
         <li>Pod borer- spray Triazophos/ Monocrotophus @ 2 ml/ ltr of water, Carbaryl@ 2 kg/ha</li>
         <li>Aphids- Spray methyl dementon 25 EC @ 1000 ml/ha</li>
         <li>White fly -Spray the crop with Imidacloprid @ 1 ml/3.5 ltrs of water/Flonicamid-200gm/Ha</li>
      </ol>
      <p><strong>Harvesting , Threshing &amp; Storage </strong></p>
      <p>Urd should be harvested when 70-80 % pods matured &amp; most of the pods turn black. Over maturity may result in shattering. Harvested crop should be dried on threshing floor for few days and then threshed. Threshing can be done either manually or by trampling under the feet of bullocks. The clean seeds should be sun dried for 3-4 days to bring their moisture content at 8-10% to safely store in appropriate bins.</p>
      <p><strong>Source:</strong> <a href="http://dpd.gov.in/Urdbean.PDF" target="_blank" title="(External website that opens in new window)">Directorate of Pulses Development</a></p>
   </div>
</div>
{%endblock%}
