{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Chickpea</h1>
<img src="https://www.shimlahills.com/resource/images/products/indian-chick-peas55.jpg" alt="Chickpea">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">
<p>Chick pea is one of the oldest pulse cash crops and cultivated throughout India since ancient times. Chickpea is popularly known as &ldquo;Bengal Gram&rdquo; (or) &ldquo;Chana&rdquo; (or) &ldquo;Gram&rdquo; in India. Chickpea is consumed as vegetable as well as fodder for livestock/animals. Chickpea can be made into split pulse (Chana Dal) and flour (besan).Variety of snacks, sweets and dishes can be made out of chickpea flour. Chick pea belongs to &ldquo;Fabaceae&rdquo; Family and its botanical name is &ldquo;Cicer arietinum L&rdquo;.</p>

<p><strong>Major Chickpea Production States in India:- </strong></p>

<p>Madhya Pradesh, Uttar Pradesh, Maharashtra and Rajasthan.</p>

<p><strong>Main Varieties of Chickpea:-</strong></p>

<p>There are two main varieties of chickpeas based on&nbsp; size, colour, thickness and shape of the seed.</p>

<p><strong>i) Desi Chickpeas:</strong> These chickpeas are widely cultivated under dry lands. These are smaller in size and angular seeds having thick coats. They may available from tan to black colour. These chickpeas are mainly cultivated in India and Bangladesh.</p>

<p><strong>ii) Kabuli Chickpeas: </strong>These are large in size with thin coats and range in colour from white to tan. Kabuli Chickpeas are mainly cultivated in Africa, Europe, Afghanistan, Pakistan &amp; Chile. These are introduced in India in 18th century. As Desi chickpeas have high in fiber content and low in glycemic index (GI), they are suitable for diabetic patients, hence their market value is more than the Kabuli chickpeas.</p>

<p><strong>Local Names of Chickpea in India:-</strong></p>

<p>Chana (Hindi), Kadale (Kannada), Harbara (Marathi), Kadalai (Tamil), Senagalu (Telugu), Chola (Bengali), Kadala (Malayalam), Channa (Gujarati), Chole/Cholia (Punjabi), Buta (Oriya), Chana sabut (Urdu).</p>

<p><strong>Climate Required for Chickpea Farming:-</strong>&nbsp;</p>

<p>Chickpea crop grows well under good moisture conditions with ideal temperatures between 24&ordm;C and 30&ordm;C .Chickpeas are cultivated under both&nbsp; irrigated and rainfed conditions. Basically this crop is winter season crop. This crop does not tolerate frost especially @ flowering stage as this will damage the seed development in the pod. Annually 65 to 95 cm rainfall is required for its cultivation. Excessive rains after sowing, flowering stage and seed maturity stage will result in heavy loss in crop yield.</p>

<p>&nbsp;</p>

<p><strong>Soil Requirement in Chickpea Farming:-</strong>&nbsp;</p>

<p>Chick pea grows on a wide variety of soils in India. This crop is grown on moderately heavy soils, black cotton soils, and sandy loam soils. However, Fertile sandy loam to clay loam soils with good internal drainage are best suitable for its cultivation. Soil should not be heavy alkaline in nature. Ideal PH range of 5.5 to 7.0 is suitable for chickpea farming.</p>

<p><strong>Land Preparation in Chickpea Farming:-</strong></p>

<p>Field preparation in chickpea farming is based on type of the soil type and cropping system followed. In case of a heavy soil, a rough seedbed should be prepared to avoid packing of the cloddy surface due to winter rains and to accommodate soil aeration and easy seedling germination. If chickpea is cultivated as a mixed crop with other cereal crops, the land should be ploughed to a fine tilth. Deep ploughing with tractor or desi plough is required in the field before monsoon starts. This will retain sufficient moisture in the soil beds.</p>

<p><strong>Seed Rate and Plant Density in Chickpea Farming:&ndash;</strong></p>

<p>Seed rate of 60 kg/ha and&nbsp; plant density of 25 to 30 plants per square meter is ideal for chickpea farming. One can go for high density plantation in case of late sowing. An average seed rate of 70 &ndash; 100 kg/ha well enough good growth of the crop.</p>

<p><strong>Seed Sowing in Chickpea Farming:-</strong></p>

<p>Ideal time for sowing chickpea seeds is&nbsp; first and second week of October. Late sowing will result in poor crop and less yield. The chickpea seeds are sown by local country plough (or) seed drill at a row spacing of 30 cm to 45 cm.</p>

<p><strong>Crop Rotation in Chickpea Farming:-</strong> To control the soil borne diseases in chickpea cultivation, crop rotation with other cereal crops&nbsp; should be followed. The most successful crop rotations in chickpea farming are given below.</p>

<ul>
	<li>Kharif follow-Chickpea.</li>
	<li>Maize / Corn &ndash; Chickpea.</li>
	<li>Pearl millet &ndash; Chickpea.</li>
	<li>Rice &ndash; Chickpea.</li>
	<li>Sorghum &ndash; Chickpea.</li>
</ul>

<p><strong>Manures and Fertilizers in Chickpea Farming:-</strong></p>

<p>It all depends on fertility of soil. In case of poor soils, this crop requires well rotten farm yard manure (F.M.Y) and in organic fertilizers like Nitrogen (25kg/ha), Phosphorous and diammonium phosphate (125 to 150 kg/ha). These manures and fertilizers should be applied before sowing the seeds. Apply these fertilizers using drillers with depth about 8 cm in the soil.</p>

<p><strong>Irrigation in Chickpea Farming:-</strong>&nbsp;</p>

<p>Chickpea can be cultivated mainly as rainfed crop. However It can also give good yield under proper irrigated conditions. This crop requires light irrigations, excessive watering should result in extra vegetative growth and reduces the yield of chickpea. If this crop is cultivated under irrigated condition, pre-sowing irrigation is required for better germination of the seed. In case of no rains, give 1 irrigation @ pre-flowering,1 irrigation @ flowering stage and 1 irrigation @ pod developing stage. Chickpea crop does not tolerate water stagnation in the field. Hence provide good internal drainage in the field.</p>

<p><strong>Weed Control and Inter cultural Operations in Chickpea Farming:-</strong></p>

<p>Chickpea crop is more prone to infestation of weeds. One hand weeding should be carried out or hoeing with hand or hoeing with wheel should be carried out after 4 to 5 weeks of sowing. 2nd weeding should be given after 2 months of sowing. Herbicides can also be used to control the weeds in chickpea crop. Apply pre-emergence fluchloralin 1kg as basalin/ha in 900 liters of water.&nbsp; It should be applied in the soil before sowing the seeds.</p>

<p><strong>Harvesting of Chickpeas:-</strong>&nbsp;</p>

<p>Chickpea crop will be ready for harvesting after leaves turn reddish-brown and start shedding from the plant. Using sickle or hand, plants should be plucked. Should allow the crop to dry in sun for about a week and threshing should be carried out by beating the plants with sticks.</p>

<p><strong>Yield of Chickpeas:-</strong> In any crop, yield depends on good farm management practices and variety of crop chose to cultivate. With said practices, an average yield of&nbsp; 20 to 30 quintals/ha can be achieved.</p>
</div>
</div>
{%endblock%}

