{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Coconut</h1>
<img src="https://images.alphacoders.com/233/thumbbig-233203.jpg" alt="Cocount">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">
<p>The coconut palm is referred to as &#39;Kalpavriksha&#39; - the &#39;tree of heaven&#39; as each and every part of the palm is useful to mankind in one way or other. It provides food, drink, fuel and timber. Millions of families in India depend on coconut for their livelihood either directly or indirectly. India ranks third in area and production of coconut in the world.</p>

<p><strong>Agro -climatic requirements</strong>:</p>

<p>Coconut is essentially a tropical plant but has been found to grow under varying agro climatic conditions. The mean annual temperature for optimum growth and maximum yield is stated to be 270C with a diurnal variation of 60C to 70C and relative humidity more than 60 %. The coconut palm thrives well up to an altitude of 600 m above MSL. The coconut palm thrives well under an evenly distributed annual rainfall ranging from 1000 mm to 3000 mm.&nbsp; However, a well distributed rainfall of about 2000 mm is the ideal rainfall for proper growth and higher yield.&nbsp;</p>

<p><strong>Soil:</strong></p>

<p>The coconut palm can tolerate wide range of soil conditions. Butthe palm does show certain growth preferences. A variety of factors such as drainage, soil depth, soil fertility and layout of the land has great&nbsp; influence&nbsp; on&nbsp; the&nbsp; growth&nbsp; of&nbsp; the&nbsp; palm.&nbsp; The&nbsp; major&nbsp; soil&nbsp; types&nbsp; that&nbsp; support &nbsp;coconut&nbsp; in&nbsp; India&nbsp; are laterite, alluvial, red sandy loam, coastal sandy and reclaimed soils with a pH ranging from 5.2 to 8.0.</p>

<p><strong>Selection of Site:</strong></p>

<p>Soil with a minimum depth of 1.2m and fairly good water holding capacity is preferred for coconut cultivation.&nbsp;&nbsp;&nbsp; Shallow soils with underlying hard rock, low lying areas subjected to water stagnation and clayey soils should be avoided. Proper supply of moisture either through well distributed rainfall or irrigation and sufficient drainage are essential for coconut.</p>

<p><strong>Preparation of land :</strong></p>

<p>Size of the pit depends on the soil type and water table. In laterite soils large pits of the size 1.2m x 1.2m x 1.2 m may be dug and filled up with loose soil, powdered cow dung and ash up to a depth of 60 cm before planting.&nbsp; In loamy soils, pits of size 1m x 1m x 1m filled with top soil to height of 50 cm is recommended.&nbsp;</p>

<p>While filling the pits, two layers of coconut husk can be arranged at the bottom of the pit with concave surface facing upwards for moisture conservation. After arranging each layer, BHC 10% DP should be sprinkled on the husk to prevent termite attack. In laterite soils, common salt @ 2 kg per pit may be applied, six months prior, on the floor of the pit to soften the hard pans.</p>

<p><strong>Spacing&nbsp; </strong></p>

<p>In general square system of planting with a spacing of 7.5m x 7.5m is recommended for coconut.&nbsp; This will accommodate 177 palms per hectare. However, spacing of 7.5 to 10 m is practised in various coconut growing regions of the country.&nbsp;</p>

<p><strong>Planting Material &amp; Planting </strong></p>

<p>Vigorous seedlings which are one year old, having minimum of six leaves and girth of 10 cm at the collar level should be selected for planting in the main field.&nbsp; Early splitting of leaves in the seedlings could be a criterion for selecting good seedlings.&nbsp; However, 18 - 24 month old seedlings are preferred for planting in water logged areas.&nbsp; Planting the seedlings during May with the onset of pre-monsoon rain is ideal.</p>

<p><strong>Varieties&nbsp; </strong></p>

<p>The tall varieties are extensively grown throughout India while dwarf is grown mainly for parent material in hybrid seed production and for tender coconuts. The tall varieties generally grown along the west coast is called West Coast Tall and along the east coast is called East Coast Tall. Benaulim is the tall variety grown in Goa and coastal Maharashtra. Laccadive Ordinary, Laccadive Micro, Tiptur Tall, Kappadam, Komadan and Andaman Ordinary are some of the tall varieties.&nbsp;</p>

<p>Chowghat Dwarf Orange, Chowghat Dwarf Yellow, Chowghat Dwarf Green, Malayan Yellow Dwarf and Malayan Orange Dwarf are some of the dwarf varieties grown in India. Gangabondam is a semi tall type grown in certain tracts of Andhra Pradesh</p>

<p><strong>Maintenance of Coconut Garden </strong></p>

<p>Regular manuring from the first year of planting is essential to ensure good vegetative growth, early flowering and bearing and high yield. Organic manure at the rate of 30 kg per palm per year may be applied with the onset of south west monsoon when soil moisture content is high. Different forms of organic manures like compost, farmyard manure, bonemeal, fish meal, neem cake, groundnut cake, gingelly cake, etc. could be used for this purpose. Green manure crops like sunhemp, glyricidia, dhaincha, etc. could also be grown as intercrops to incorporate in the coconut basins later.&nbsp;</p>

<p><strong>Manures and Fertilizers&nbsp;&nbsp; </strong>&nbsp;</p>

<p>Regular manuring right from the first year of planting is essential for good vegetative growth, early flowering and bearing and sustainable yield of coconut palms.&nbsp; The first application of chemical fertilizers should be done after three months of planting.&nbsp;&nbsp;</p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:130px;">
			<p>Particulars</p>
			</td>
			<td style="width:130px;">
			<p>Year 1</p>
			</td>
			<td style="width:130px;">
			<p>Year 2</p>
			</td>
			<td style="width:130px;">
			<p>Year 3</p>
			</td>
			<td style="width:130px;">
			<p>Year 4 onwards</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px;">
			<p>FYM (kg/palm)</p>
			</td>
			<td style="width:130px;">
			<p>40</p>
			</td>
			<td style="width:130px;">
			<p>20</p>
			</td>
			<td style="width:130px;">
			<p>25</p>
			</td>
			<td style="width:130px;">
			<p>30</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px;">
			<p>N (g/palm)</p>
			</td>
			<td style="width:130px;">
			<p>50</p>
			</td>
			<td style="width:130px;">
			<p>160</p>
			</td>
			<td style="width:130px;">
			<p>330</p>
			</td>
			<td style="width:130px;">
			<p>500</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px;">
			<p>P (g/palm)</p>
			</td>
			<td style="width:130px;">
			<p>40</p>
			</td>
			<td style="width:130px;">
			<p>120</p>
			</td>
			<td style="width:130px;">
			<p>240</p>
			</td>
			<td style="width:130px;">
			<p>320</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px;">
			<p>K (g/palm)</p>
			</td>
			<td style="width:130px;">
			<p>135</p>
			</td>
			<td style="width:130px;">
			<p>400</p>
			</td>
			<td style="width:130px;">
			<p>810</p>
			</td>
			<td style="width:130px;">
			<p>1200</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>Rock phosphate is recommended as source of phosphorus in lateritic and acidic soils.&nbsp; Fertilisers may be applied in two split doses during May-June and September-October for the rainfed palms and in four or more equal splits for irrigated palms avoiding the heavy rainfall period.&nbsp; In sandy soils with acidic nature, in addition to these fertilizers, 1 kg of dolomite may be broadcast during April-May in the basins and incorporated into the soil by forking.</p>

<p>&nbsp;</p>

<p><strong>Irrigation&nbsp; </strong></p>

<p>Coconut responds well to summer irrigation i.e. summer irrigation @ 40 litres per palm per week will increase the yield of nuts by 50%.&nbsp; Under basin irrigation, 200 litres per palm once in four days will be beneficial. In areas where water is scarce drip irrigation system can be adopted.&nbsp; The quantity of water recommended for drip irrigation in coconut is 66 per cent of the open pan evaporation.&nbsp;&nbsp;</p>

<p><strong>Interculture operations </strong></p>

<p>Tillage operations like digging, ploughing, forming small mounds during August - September and spreading them in December - January, making shallow basins with a radius of 2m before the onset of monsoon and filling it up at the close of monsoon are beneficial to the trees.&nbsp; Regular inter cultivation needs to be adopted to keep weeds under control.&nbsp; In sandy soils, inter-cultivation may not be necessary.</p>

<p>&nbsp;</p>

<p><strong>Coconut based cropping systems </strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To maximise the utilisation of soil and sunlight in the coconut garden, intercropping can be adopted with a variety of crops like pineapple, banana, elephant foot yam, groundnut, chillies, sweet potato, tapioca etc. upto 8-10 years.&nbsp; During 10-22 years of age of the palms, crop like colocasia which can tolerate shade can be cultivated.&nbsp;</p>

<p>In older plantations, perennials like cocoa, pepper, cinnamon, clove and nutmeg can be grown as mixed crops along with intercrops.&nbsp; Mixed farming by raising fodder grasses such as hybrid napier or guinea grass along with leguminous fodder crops in coconut garden has been found to be profitable which can support rearing of milch animals.&nbsp;&nbsp;</p>

<p><strong>Harvesting&nbsp; </strong></p>

<p>Coconuts are harvested at varying intervals in a year. The frequency differs in different areas depending upon the yield of the trees. In well maintained and high yielding gardens, bunches are produced regularly and harvesting is done once a month.&nbsp; Coconuts become mature in about 12 months after the opening of the spathe. It is the ripe coconut which is the source of major coconut products. Nuts which are eleven months old give fibre of good quality and can be harvested in the tracts where green husks are required for the manufacture of coir fibre. Economic life of the coconut palm is about 60 years.&nbsp;</p>

<p><strong>Utilisation of Coconut&nbsp; </strong></p>

<p>Coconut industry in the country is mainly confined to traditional activities such as copra making, oil extraction, coir manufacture &amp; toddy tapping. Coconut products such as virgin coconut oil, desiccated coconut, coconut water based vinegar, coconut water are also made.&nbsp; However, coconut milk based beverages, coconut chips, coconut based handicrafts, shell powder, shell charcoal and shell based activated carbon are manufactured in the country on a limited scale. Neera, coconut water based non-alcoholic health drink is now gaining momentum in many states like Karnataka and Maharashtra. Coir and coir based industry is one of the major segments using coconut by-products mainly the husk.</p>

<p>Source: <a href="https://www.nic.in/">https://www.nic.in/</a></p>
</div>
{%endblock%}