{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Coffee</h1>
<img src="https://assets.thehansindia.com/hansindia-bucket/3227_Cofee.jpg" alt="Coffee">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">
<p>Coffee is the second most important beverage crop of India next only to tea. It is indigenous to Abyssinia Plateau (Ethiopia) from where it was taken to Arabia in 11th century. From Arabia, its seeds were brought to India by Baba Budan in the 17th Century and were raised in the Baba Budan Hills of Karnataka.</p>

<p>Coffee is an export product with low import intensity and high employment content. This is evident from the fact that more than six lakh persons are directly employed and an equal number of individuals get indirect employment from this sector.</p>

<p>&nbsp;</p>

<p><strong>Varieities</strong></p>

<p>The two main varieties of coffee viz., Arabica and Robusta are grown in India. Arabica is mild coffee, but the beans being more aromatic, it has higher market value compared to Robusta beans. On the other hand Robusta has more strength and is, therefore, used in making various blends. Arabica is grown in higher altitudes than Robusta. The cool and equable temperature, ranging between 15 degree C to 25 degree C, is suitable for Arabica while for Robusta, hot and humid climate with temperature ranging from 20 degree C to 30 degree C is suitable.</p>

<p>Arabica requires more care &amp; nurture and is more suitable for large holdings whereas Robusta is suitable irrespective of size of the farm. Arabica is susceptible to pests &amp; diseases such as White Stem Borer, leaf rust etc., and requires more shade than Robusta. The harvest of Arabica takes place between November to January, while for Robusta it is December to February.</p>

<p>&nbsp;</p>

<p><strong>Conditions of Growth</strong></p>

<p>Coffee plant requires hot and humid climate with temperature varying between 15&deg;C and 28 &deg;C and rainfall from 150 to 250 cm. It does not tolerate frost, snowfall, high temperature above 30&deg;C and strong sun shine and is generally grown under shady trees. Prolonged drought is also injurious to coffee. Dry weather is necessary at the time of ripening of the berries.</p>

<p>Stagnant water is harmful and this crop is grown on hill slopes at elevations from 600 to 1,600 metres above sea level. Northern and eastern aspects of slopes are preferred as they are less exposed to strong afternoon sun and the south- west monsoon winds. Well drained, rich friable loams containing good deal of humus and minerals like iron and calcium are ideal for coffee cultivation.</p>

<p>The soil must be properly manured to retain and replenish fertility and to increase productivity. Coffee cultivation requires plenty of cheap and skilled labour for various operations including sowing, transplanting, pruning, plucking, drying, grading and packing of coffee.</p>

<p>&nbsp;</p>

<p><strong>Production</strong></p>

<p>The restricted agro-climatic conditions have forced the coffee plantations to confine themselves to small area in south India comprising hill areas around Nilgiris. Almost the entire production is shared by three states namely Karnataka, Kerala and Tamil Nadu. Most of the coffee plantations are at an altitude of 1,200 m where annual rainfall is over 200 cm.</p>

<p>Some coffee is also grown in Satara and Ratnagiri districts of Maharashtra. In line with the national policy of tribal development, coffee cultivation is being encouraged in such non-traditional areas as Andhra Pradesh, Orissa, Maharashtra, the north-eastern states and Andaman and Nicobar Islands.</p>

<p><strong>Distribution</strong></p>

<p>Among the plantation crops, coffee has made significant contribution to the Indian economy during the last 50 years. Although India contributes only a small per cent of the world production, Indian coffee has created a niche for itself in the international market, particularly Indian Rebustas which are highly preferred for their good blending quality.</p>

<p>Arabic coffee is also well received in the international market. In short Indian coffee is well known for its quality and is much in demand in the international market. Therefore, India exports coffee to a large number of countries including U.K., the U.S.A., Russia, Australia, Iraq and a large number of countries of continental Europe.</p>

<p>Source: <a href="https://www.indiacoffee.org/">Coffee Board of India</a></p>
</div>
{%endblock%}
