{% extends 'base.html' %}
{% block body %}

	
<div  class="lrm lrm pt-5 mt-5 pt-5 mt-5">
	<script type="text/javascript">
		function flashMessage() {
      		if ("{{ flash_message }}" == "True") {
        		alert("Data submitted successfully!");
      		}
    	}
		flashMessage();
	 </script>
	<h1 style="text-align: center;">Contribute data</h1>
	<div class="predictform">		
		<form action="{{ url_for('save1')}}" method="POST"></br>
			<div class="form-group">
				<label>Nitrogen</label>
				<input type="number" min="0" max="150" id="n" name="n" required></br>
			</div>
			<div class="form-group">
				<label >Phosphorous</label>
				<input type="number" min="5" max="150" id="p" name="p"required>
			</div>
			<div class="form-group">
				<label >Potassium</label>
				<input type="number" min="5" max="205" name="k"required><br>
			</div>
			<div class="form-group">
				<label >Temperature</label>
				<input type="number" min="8" max="44" step="0.0001" name="t"required>
			</div>
			<div class="form-group">
				<label >Humidity</label>
				<input type="number" min="14" max="100" step="0.0001" name="h"required>
			</div>	
			<div class="form-group">
				<label >ph</label>
				<input type="number" min="3" max="10" step="0.0001" name="ph"required>
			</div>		
			<div class="form-group">
				<label >Rainfall</label>
				<input type="number" min="20" max="300" step="0.0001" name="r"required></div></br>				
			</div>
			<div class="form-group predictform">
				<label >Suitable crop</label>
				<select name="crop" id="crop">
					<option value="Apple">Apple</option>
					<option value="Banana">Banana</option>
					<option value="Blackgram">Blackgram</option>
					<option value="Chickpea">Chickpea</option>
					<option value="Coconut">Coconut</option>
					<option value="Coffee">Coffee</option>
					<option value="Cotton">Cotton</option>
					<option value="Grape">Grape</option>
					<option value="Jutte">Jutte</option>
					<option value="Kidneybeans">Kidneybeans</option>
					<option value="Lentil">Lentil</option>
					<option value="Maize">Maize</option>
					<option value="Mango">Mango</option>
					<option value="Mothbeans">Mothbeans</option>
					<option value="Mungbean">Mungbean</option>
					<option value="Muskmelon">Muskmelon</option>
					<option value="Orange">Orange</option>
					<option value="Papapya">Papapya</option>
					<option value="Pigeonpeas">Pigeonpeas</option>
					<option value="Pomegranate">Pomegranate</option>
					<option value="Rice">Rice</option>							
					<option value="Watermelon">Watermelon</option>						
				</select></br></br>	
				<button type="submit" class="btn btn-primary btn-lg">Submit</button>
			</div>		
		</form>
		<br><br>
	</div>
		{{datasuccess}}				
</div>
{%endblock%}