{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Cotton</h1>
<img src="https://kj1bcdn.b-cdn.net/media/24820/cottonj_258114.jpg" alt="Cotton">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>&nbsp;Cotton is one of the most important fiber and cash crop of India and plays a dominant role in the industrial and agricultural economy of the country. It provides the basic raw material (cotton fibre) to cotton textile industry. Cotton in India provides direct livelihood to 6 million farmers and about 40 -50 million people are employed in cotton trade and its processing.</p>

<p>&nbsp;In India, there are ten major cotton growing states which are divided into three zones, viz. north zone, central zone and south zone. North zone consists of Punjab, Haryana, and Rajasthan. Central zone includes Madhya Pradesh, Maharashtra and Gujarat. South zone comprises Andhra Pradesh, Telangana, Karnataka and Tamil Nadu. Besides these ten States, cotton cultivation has gained momentum in the Eastern State of Orissa. Cotton is also cultivated in small areas of non-traditional States such as Uttar Pradesh, West Bengal &amp; Tripura.</p>

<p><strong>Cultivated Species&nbsp; </strong></p>

<p>There are four cultivated species of cotton viz. Gossypium arboreum, G.herbaceum, G.hirsutum and G.barbadense. The first two species are diploid (2n=26) and are native to old world. They are also known as Asiatic cottons because they are grown in Asia. The last two species are tetraploid (2n=52) and are also referred to as New World Cottons. G.hirsutum is also known as American cotton or upland cotton and G.barbadense as Egyptian cotton or Sea Island cotton or Peruvian Cotton or Tanguish Cotton or quality cotton. G.hirsutum is the predominant species which alone contributes about 90% to the global production. Perhaps, India is the only country in the world where all the four cultivated species are grown on commercial scale.&nbsp;</p>

<p><strong>Climate &amp; Soil Requirement </strong></p>

<p>Cotton, a semi-xerophyte, is grown in tropical &amp; sub tropical conditions. A minimum temperature of 15oC is required for better germination at field conditions. The optimum temperature for vegetative growth is 21-27⁰C &amp; it can tolerate temperature to the extent of 43⁰ C but temperature below 21oC is detrimental to the crop. Warm days of cool nights with large diurnal variations during the period of fruiting are conducive to good boll &amp; fibre development.</p>

<p>Cotton is grown on a variety of soils ranging from well drained deep alluvial soils in the north to black clayey soils of varying depth in central region and in black and mixed black and red soils in south zone.&nbsp; Cotton is semi-tolerant to salinity and sensitive to water logging and thus prefers well drained soils.&nbsp;</p>

<p><strong>Crop Season </strong></p>

<p>The sowing season of cotton varies considerably from tract to tract and is generally early (April-May) in northern India and is delayed as we proceed to down south (monsoon based in southern zone).&nbsp; Cotton is a Kharif crop in the major parts of the country viz. Punjab, Haryana, Rajasthan, Uttar Pradesh, Madhya Pradesh, Gujarat, Maharashtra and parts of Andhra Pradesh &amp; Karnataka.&nbsp; In these areas, the irrigated crop is sown from March-May and the rain fed crop in June-July with the commencement of the monsoon.</p>

<p>&nbsp;In Tamil Nadu, the major portion of the irrigated and rain fed crop is planted in September-October, whereas the sowing of the rain fed crop in the southern districts is extended up to November.&nbsp; In parts of Karnataka and Andhra Pradesh, the desi cotton is usually sown in August-September.&nbsp; In addition, summer sowings in Tamil Nadu are done during February-March.&nbsp; The sowings of cotton in the rice fallows of Andhra Pradesh and Tamil Nadu extent from the second half of December to the middle of January.</p>

<p><strong>Preparation of land </strong></p>

<p>&nbsp;The time available for land preparation following the harvest of wheat is limited in the north zone.&nbsp; Pre-sowing irrigation is undertaken after the harvest of wheat. The land is worked upon with tractor-drawn implements, then levelled &amp; planked before preparing ridges upon which sowing is done.</p>

<p>&nbsp;In central and southern zone of India where cotton is a rainfed crop, deep ploughing recommended to destroy perennial weeds once in 4 years.&nbsp; The field is prepared by repeated harrowing with a blade harrow prior to the onset of pre-monsoon rains. Sowing is undertaken on ridges &amp; furrows in drylands for moisture conservation &amp; weed management.</p>

<p><strong>Method of sowing </strong></p>

<p>Cotton is sown using tractor or bullock drawn seed drill or by dibbling. Hand dibbling of seeds at recommended spacing is commonly practiced in rainfed areas particularly for hybrids. This system ensures proper plant stand, uniform geometry and also saves seeds. This is now main system of sowing of Bt. Hybrids. Cotton cultivation on ridges across the slopes conserves more water, reduces soil erosion and improves yield.</p>

<p><strong>Irrigation Scheduling </strong></p>

<p>Depending upon the climate &amp; crop-growing period, cotton needs 700-1,200 mm water to meet its maximum water requirement. The water requirement is low during first 60-70 days after sowing &amp; highest during flowering &amp; boll development.</p>

<p>Cotton is commonly flood irrigated although irrigation by furrow or alternate furrow method is more effective and water saving.&nbsp; Drip irrigation is becoming popular particularly in the hybrids for central and southern zones.&nbsp; Cotton needs to be irrigated at 50-70% depletion of available soil moisture.&nbsp; On sandy loam soils of northern zone 3-5 irrigations are commonly given. On red sandy loam soils of Tamil Nadu with low water retention capacity, 4-13 light irrigations may be necessary.</p>

<p><strong>Inter cultivation &amp; weed control </strong></p>

<p>Inter-cultivation is done fairly regularly by either a blade harrow with a three tined hoe or a desi plough.&nbsp; In the crop sown by broadcasting, one or two hand hoeing&rsquo;s are given to remove weeds, inter-cultivation not only checks the growth of weeds but also leads to better soil aeration and soil moisture conservation.</p>

<p>Weeds compete with cotton crop for nutrients, light and moisture.&nbsp; Cotton is susceptible to weed competition from sowing to about 70 days when the canopy covers the inter-spaces.&nbsp; Cotton yields are reduced by 50 to 85% if weed growth is unchecked.&nbsp; Fluchloralin or pendimethalin @ 1 kg ai/ha. as pre-plant incorporation with one hand weeding and crosswise hoeing has been recommended for satisfactory weed control.&nbsp; Deep rooted perennial weeds are removed by summer ploughing.</p>

<p>The thinning of the cotton crop is a special feature of the irrigated crop sown on ridges in Peninsular India and in parts of southern Gujarat. Thinning is desirable for maintaining the optimum population of plants to obtain a high yield.&nbsp; During thinning, the vigorous seedlings are retained and weak seedlings and off types are removed.</p>

<p>Source : <a href="https://nfsm.gov.in/">National Food Security Mission</a></p>
</div>
{%endblock%}
