{% extends 'base.html' %}
{% block body %}	

<div class="imgzoom lrm pt-5 mt-5 pt-5 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('apple') }}">
                <img src="static/Apple.jpg" alt="Apple">
              </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('apple') }}">Apple</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('banana') }}">
                    <img src="static/Banana.jpg" alt="Banana">   
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('banana') }}">Banana</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('blackgram') }}">
                    <img src="static/Blackgram.jpg" alt="Blackgram">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('blackgram') }}">Blackgram</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('chickpea') }}">
                    <img src="static/Chickpea.jpg" alt="Chickpea">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('chickpea') }}">Chickpea</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('coconut') }}">
                    <img src="static/Coconut.jpg" alt="Coconut">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('coconut') }}">Coconut</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('coffee') }}">
                    <img src="static/Coffee.jpg" alt="Coffee">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('coffee') }}">Coffee</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('cotton') }}">
                    <img src="static/Cotton.jpg" alt="Cotton">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('cotton') }}">Cotton</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('grape') }}">
                    <img src="static/Grape.jpg" alt="Grape">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('grape') }}">Grape</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('jutte') }}">
                    <img src="static/Jutte.jpg" alt="Jutte">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('jutte') }}">Jutte</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('kidneybeans') }}">
                    <img src="static/Kidneybeans.jpg" alt="Kidneybeans">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('kidneybeans') }}">Kidneybeans</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('lentil') }}">
                    <img src="static/Lentil.png" alt="Lentil">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('lentil') }}">Lentil</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('maize') }}">
                    <img src="static/Maize.jpg" alt="Maize">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('maize') }}">Maize</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('mango') }}">
                    <img src="static/Mango.jpg" alt="Mango">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('mango') }}">Mango</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('mothbeans') }}">
                    <img src="static/Mothbeans.jpg" alt="Mothbeans">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('mothbeans') }}">Mothbeans</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('mungbean') }}">
                    <img src="static/Mungbean.jpg" alt="Mungbean">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('mungbean') }}">Mungbean</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('muskmelon') }}">
                    <img src="static/Muskmelon.jpg" alt="Muskmelon">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('muskmelon') }}">Muskmelon</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('orange') }}">
                    <img src="static/Orange.jpg" alt="Orange">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('orange') }}">Orange</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('papaya') }}">
                    <img src="static/Papaya.jpg" alt="Papaya">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('papaya') }}">Papaya</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('pigeonpea') }}">
                    <img src="static/Pigeonpea.png" alt="Pigeonpea">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('pigeonpea') }}">Pigeonpea</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('pomegranate') }}">
                    <img src="static/Pomegranate.jpg" alt="Pomegranate">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('pomegranate') }}">Pomegranate</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('rice') }}">
                    <img src="static/Rice.jpg" alt="Rice">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('rice') }}">Rice</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('watermelon') }}">
                    <img src="static/Watermelon.jpg" alt="Watermelon">  
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('watermelon') }}">Watermelon</a>
            </div>
        </div>
    </div>
        </div>
    </div>
        
    </div>
    {%endblock%}
