{% extends 'base.html' %}
{% block body %}	

<div class="imgzoom lrm lrm pt-5 mt-5 pt-5 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('apple') }}">
                <img src="static/Apple.jpg" alt="Apple">
              </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('apple') }}">Apple</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <a  href="{{ url_for('banana') }}">
                    <img src="https://wallpapercave.com/wp/wp2321164.jpg" alt="Banana">   
                </a>
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('banana') }}">Banana</a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="col-lg-12">
                <img   src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Black_gram.jpg" alt="Blackgram">  
            </div>
            <div class="col-lg-12 text-center mb-2">
                <a  href="{{ url_for('blackgram') }}">Blackgram</a>
            </div>
        </div>
    </div>
        </div>
    </div>
        
        <a href="{{ url_for('banana') }}">Banana</a>
        <a href="{{ url_for('blackgram') }}">Blackgram</a>
        <a href="{{ url_for('chickpea') }}">Chickpea</a>
        <a href="{{ url_for('coconut') }}">Coconut</a>
        <a href="{{ url_for('coffee') }}">Coffee</a>
        <a href="{{ url_for('cotton') }}">Cotton</a>
        <a href="{{ url_for('grape') }}">Grape</a>
        <a href="{{ url_for('jutte') }}">Jutte</a>
        <a href="{{ url_for('kidneybeans') }}">Kidneybeans</a>
        <a href="{{ url_for('maize') }}">Maize</a>
        <a href="{{ url_for('mango') }}">Mango</a>
        <a href="{{ url_for('mothbeans') }}">Mothbeans</a>
        <a href="{{ url_for('mungbean') }}">Mungbean</a>
        <a href="{{ url_for('muskmelon') }}">Muskmelon</a>
        <a href="{{ url_for('orange') }}">Orange</a>
        <a href="{{ url_for('papaya') }}">Papapya</a>
        <a href="{{ url_for('pigeonpea') }}">Pigeonpea</a>
        <a href="{{ url_for('pomegranate') }}">Pomegranate</a>
        <a href="{{ url_for('rice') }}">Rice</a>
        <a href="{{ url_for('watermelon') }}">Watermelon</a>        
    </div>
    {%endblock%}