{% extends 'base.html' %}
{% block body %}	
<img src="static/home.jpg" alt="Crop Recommendation System">  
<div  class="lrm lrm pt-5 mt-5">
    
<p ><strong>About</strong></p>

<p>India is one among the oldest countries which is practicing agriculture. But in recent times the trends in agriculture have drastically evolved due to globalization. Various factors have affected the health of agriculture in India. Many new technologies have been evolved to regain the health. One such technique is precision agriculture. Precision agriculture is the technology of &ldquo;site-specific&rdquo; farming. It has provided us with the advantage of efficient input, output and better decisions regarding farming. Although precision agriculture has delivered better improvements it is still facing certain issues.</p>

<p>In Agriculture the soil is the main and basic thing. But now also farmers are using the traditional method. Because of the traditional method farmers did not get satisfactory results means the quantity of crops is not increasing. To increase the quantity of crops, need good quality of soil.&nbsp; So, soil testing is done. Soil testing is important rather than the main task of farming.&nbsp; The production and quality of crops totally depend on the soil.&nbsp; Soil testing is essential because it gives information on all nutrients which present in the soil such as Ca (Calcium), K (Potassium), and N (Nitrogen).</p>

<p>Dataset consists of the available nutrient for farmers&rsquo; soil and rainfall for a particular region. Based on nutrients value, our system predicts soil type. According to the soil type system predicts a crop that can grow in a particular soil.&nbsp; Hence the yield of the crop increases, as well as the farmer, earn more money with this new method.</p>

<p>Weather components such as rainfall, temperature, relative humidity, etc. also has an impact on crop growth, development and yields. This weather data can be collected through local weather station. We can also observe weather pattern over the years to plan crops accordingly.</p>
</div>
{%endblock%}
