{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Jutte</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Jute_Field_Bangladesh_%287749587518%29.jpg" alt="Jutte">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>Jute is an important natural fibre crop in India next to cotton. In trade and industry, jute and mesta crop together known as raw jute as their uses are almost same. Raw jute plays an important role in the country&rsquo;s economy. Raw jute was originally considered as a source of raw material for packaging industries only. But it has now emerged as a versatile raw material for diverse applications, such as, textile industries, paper industries, building and automotive industries, use as soil saver, use as decorative and furnishing materials, etc.</p>

<p>&nbsp;Raw jute being biodegradable and annually renewable source, it is considered as an environment friendly crop and it helps in the maintenance of the environment and ecological balance. Jute as a natural fibre has some definite inherent advantages. Its silky lusture, high tensile strength, low exhaustibility, considerable heat resistance and long staple length are the qualities that cannot be matched by synthetic fibre. Further attraction of Jute lies in its easy availability, inexhaustible quantity at a comparatively cheaper rate. Moreover, it can easily be blended with other natural and man-made fibres. Jute cultivation is mainly concentrated in the eastern and north eastern India.</p>

<p><strong>Climatic requirement for cultivation of Jute/Mesta: </strong></p>

<p>Jute is a crop of humid tropical climates. It thrives well in areas with well distributed rainfall of 2,500 mm spread over vegetative growth period of the crop with no cloudiness. Locations with a mean rainfall of &lt;1,000 mm, incessant rainfall and water logging are not suitable for its cultivation. For better growth, a mean maximum and minimum temperature of 34 C and 15 C and a mean relative humidity of 65% are required. Temperatures below 15 C and above 43 C during growth are not suitable for jute crop. Corchorus olitorius (Tossa jute) cannot withstand water logging, however, C. capsularis (White jute) can withstand water logging, but its fibre quality is impaired with prolonged water stagnation. At a temperature below 10oC, no germination occurs in both the species. C. capsularis can withstand higher temperature at germination (up to 32 C), while C. olitorius is sensitive to such high temperatures.</p>

<p>Warm and humid climate are best suited to both the species of mesta i.e. Hibiscus cannabinus and Hibiscus sabdariffa. Cannabinus mesta is of short duration and suitable for higher rainfall areas and has got less drought tolerance capacity. Sabdariffa mesta is of longer duration and got better drought tolerance capacity. The crop can grow in temperature range of 20 C to 40 C but optimum temperature for its growth is 30 C to 34 C. The crop can grow in high rainfall areas provided good drainage is there. On the other hand it can grow in low rainfall areas to the tune of even 500 mm rainfall per annum. However, a rainfall of about 125 to 150 mm per month distributed well is required during the growth period. Alternate rain and sunshine is good for better growth.</p>

<p><strong>Soils : </strong></p>

<p>Jute can be raised on all kinds of soils from clay to sandy loam, but loamy alluvial are best suited. Laterite and gravel soils are not suitable for this crop. The new grey alluvial soils of good depth, receiving silt from the annual floods are the best for jute cultivation. A soil pH of 5.0-7.4 is within the tolerable limit of soil reaction. Soils with acidic pH (&lt;4.5), effective soil depth &lt;50 cm, electrical conductivity &gt;2 dS/m and exchangeable sodium percentage &gt;15 are not suitable for the crop. The crop is raised successfully on old alluvial soils of Bihar, mild acidic soils of Assam, Orissa, and light alkaline soils of tarai districts of Uttar Pradesh. It has been observed that clay loam for C. capsularis and sandy loam for C.olitorius are most suitable soil types.</p>

<p><strong>Time of sowing: </strong></p>

<p>Sowing time of jute may differ from area to area on the basis of the receipt of pre-monsoon showers, availability of residual moisture and variety. Generally, sowing in middle of March is optimum for all Capsularis varieties and the Olitorius varieties like JRO524, JRO878 and JRO7835 while JRO632 should be sown only after middle of April. Olitorius sowing may be staggered upto May. In Bihar and Uttar Pradesh, sowing is done up to mid June or some time upto end June as per the onset of monsoon.&nbsp;</p>

<p>The recommended sowing for mesta crop is May-June for main season crop. However, in some areas particularly in some areas of Andhra Pradesh, rabi mesta is also raised. Sowing time for rabi mesta is February-March and usually sown with the subsoil moisture. Sowing should be done when there is sufficient moisture in the soil. A minimum of 21 per cent soil moisture content is required for germination.&nbsp;</p>

<p><strong>Methods of sowing: </strong></p>

<p>Sowing of jute can be done either by broadcast method or by line sowing method. For line sowing, the land is prepared well and sowing is done with row to row spacing of: Capsularis &ndash; 30 cm, Olitorius&ndash; 25 cm and plant to plant spacing is maintained at 5 to 7 cm and this is done by mechanical means i.e. seed drill. The depth of sowing is maintained at 2.5 to 3 cm.&nbsp;</p>

<p>Mesta is usually sown by broadcasting method. But as criteria of improved production technology, it is advocated to sow the crop in line. Line sowing can be undertaken with the help of seed drill. Line sowing has got certain advantages over broadcasting method such as i) Plant growth is uniform since uniform spacing is maintained, ii) Intercultural operation like weeding, hoeing, etc. become easier and cheaper. iii) Application of pesticides and top dressing of fertilizer is easier, iv) Yield is higher by about 15-20%, v) Requirement of seed is less etc.</p>

<p><strong>Land preparation: </strong></p>

<p>Jute seeds being small require very fine tilth. The land can be prepared by ploughing and cross-harrowing 3-5 times followed by planking. In acidic soils (pH &lt;6.0), incorporation of 1-1.5t/ha of lime, 30-40days before sowing is necessary for better crop performance. Soil moisture between 21-45% is considered ideal for proper germination.&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mesta being a rainfed crop, land preparation is usually done with the receipt of pre-monsoon showers. However, in Andhra Pradesh, for raising rabi mesta, the land preparation is done early in February for sowing the crop with the help of subsoil moisture.&nbsp;</p>

<p><strong>Fertilizer management:</strong></p>

<p>In heavy soils with low to moderate rainfall, all nutrients are applied as basal. In light soils and high rainfall situations, N is applied in 2 equal splits, &frac12; basal and &frac12; top dressing, i.e. preferably after weeding and thinning operations. In acid soils and regions with high rainfall, calcium and magnesium deficiency is common. Liming of soil @ 2-5t/ha, once in 4 years or Dolomite application (40 kg/ha) is found promising as it supplies both calcium and magnesium.</p>

<p>In a medium fertile soil, the recommended dose of fertilizer for mesta is N40kg/ha, P &ndash; 20 kg/ha and K-20kg/ha. Since, mesta is raised mainly under rainfed condition, the recommended dose of N in such cases is 25 kg/ha</p>

<p><strong>Water management: </strong></p>

<p>Jute requires about 50 cm water for its growth and development. In India about 15% jute area is irrigated and the remaining area is rainfed. If the rainfall is not sufficient, the water requirement has to be supplemented through irrigation. For germination of jute seed, about 18-20% soil moisture is required. At sowing time, if the soil moisture is not sufficient, then one pre-sowing irrigation is to be given.</p>

<p>After sowing, usually one or two irrigations at an interval of about 20 days is required at the initial stages of growth. Jute is sensitive to both drought and water logging. At germination and knee-high stages, adequate soil moisture must be ensured by irrigation. During rainy season, the crop experiences water logging that adversely affects fibre quality.</p>

<p><strong>Weed management: </strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jute crop suffers from heavy weed infestation in the initial 6-8 weeks after sowing. Two-three hand weedings or mechanical hoeings are required to arrest weed menace. The first 2 manual weedings are combined with thinning operations at 20 and 35 DAS. The third weeding should be done 55-60 DAS.</p>

<p><strong>Harvesting: </strong></p>

<p>Jute is a bast fibre crop and can be harvested at any stage after a certain period of vegetative growth, usually between 100 to 150 days. Harvesting of jute crop at pre-bud or bud stage gives best quality fibre; however, the yields are low and older crop yields more quantity of fibre but the fibre becomes coarse and the stem does not ret properly. Hence, as a compromise between quality and quantity, early pod formation stage has been found best for harvesting. Harvesting is done by cutting the plants at or close to the ground level with sharp sickles. In flooded lands, the plants are uprooted. The harvested plants are left in the field for 2-3 days for the leaves to shed. Next, the plants are tied into bundles 20-25cm of diameter and the branching tops are lipped off to rot in the field.</p>

<p>The best time of harvesting is small pod stage for cannabinus mesta which usually occurs in October while for sabdariffa mesta it is at 50 per cent flowering which occurs in November. If the plants are harvested earlier to this, fibre yield will be low and many of the fibre are immature and soft and may loss at the time of extraction If the harvesting is delayed or it is done at the maturity of the crop, the yield may be more but produces poor quality fibre which is brittle and less flexible as the cellulose reserves decline due to its utilization by developing fruits and seeds.</p>

<p>Source : <a href="https://nfsm.gov.in/">National Food Security Mission</a></p>
</div>
{%endblock%}