{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Kidneybeans</h1>
<img src="https://www.apnikheti.com/upload/crops/489idea99Red-kidney-beans-2.jpg" alt="Kidneybeans">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>Kidney beans have become popular all over the world due to its health benefits as well as their savory texture. Kidney beans are termed as &ldquo;King of Nutrition&rdquo;. Brazil is top producer of kidney beans in the world. Red kidney beans are popularly known as &ldquo;Rajma&rdquo; in northern India. Various healthy dishes can be prepared using this bean in India. These beans are grown in most of the states northern and southern parts of India. Kidney beans are also called as &ldquo;common bean&rdquo;, &ldquo;haricot bean&rdquo;, &ldquo;navy bean or snap bean&rdquo;. It is grown in Maharashtra, H.P., U.P., J&amp;K., and NE state.</p>

<p><strong>Nutritive value</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:163px;">
			<p>Protein</p>
			</td>
			<td style="width:130px;">
			<p align="center">22.9%</p>
			</td>
			<td style="width:123px;">
			<p>Calcium</p>
			</td>
			<td style="width:236px;">
			<p align="center">260 mg/100g</p>
			</td>
		</tr>
		<tr>
			<td style="width:163px;">
			<p>Fat</p>
			</td>
			<td style="width:130px;">
			<p align="center">1.3%</p>
			</td>
			<td style="width:123px;">
			<p>Phosphorus</p>
			</td>
			<td style="width:236px;">
			<p align="center">410 mg/100g</p>
			</td>
		</tr>
		<tr>
			<td style="width:163px;">
			<p>Carbohydrate</p>
			</td>
			<td style="width:130px;">
			<p align="center">60.6%</p>
			</td>
			<td style="width:123px;">
			<p>Iron</p>
			</td>
			<td style="width:236px;">
			<p align="center">5.8 mg/100g</p>
			</td>
		</tr>
	</tbody>
</table>

<p><strong>Climate </strong></p>

<p>In the hilly region it is grown during kharif and in lower hills/tarai region, sown as spring crop. In north-east plains and hilly tracts of Maharashtra, it is cultivated during rabi. It is highly sensitive to frost and water logging. The ideal temperature range for proper growth of this crop is 10-27 C. Above 30 C, the flower drop is a serious problem. Similarly, below 5 C the flowers and developing pods and branches are damaged.&nbsp;</p>

<p><strong>Soil Type &amp; Field Preparation </strong></p>

<p>The crop can be grown in light loamy sand to heavy clay soil under adequate moisture. Among various pulses. Soil must be free from excessive soluble salts and neutral in reaction. Rajmash having bold and hard seed coat needs a good seed bed accomplished by thorough primary tillage like ploughing, harrowing or discing and planking. A good seed bed have friable but compact soil adequate moisture and free from weeds and plant debris of earlier crop. Acidic soils of the hills must be treated with lime before sowing.</p>

<p><strong>Sowing time </strong></p>

<p>Kharif (Hills) last week June to first of July; Rabi (Plains) 2nd fortnight of October and for spring (Lower hills) 2nd fortnight of March.</p>

<p><strong>Seed Rate &amp; Spacing :</strong></p>

<p>100-125 kg/ha&nbsp;</p>

<p>&nbsp;Kharif (Hills)&nbsp;&nbsp; - 45-50 cm x 8-10 cm;&nbsp;</p>

<p>&nbsp;Rabi &amp; Spring&nbsp; - 40 cm&nbsp; x 10 cm (irrigated) ; 30 cm x 10 cm (Rain fed)</p>

<p><strong>&nbsp; Cropping System </strong></p>

<p>In hills, it is grown as intercrop with maize in 1:2 ratios. In-between two rows of maize sown at 90 cm apart, two rows of Rajmash are adjusted at 30 cm spacing with the plant population of 120000 of Rajmash and 40000 of maize.&nbsp;</p>

<p>In plains it is grown as spring season crop after harvesting of potato and mustard. It is also found quite compatible for intercropping with early potato due to its high nitrogen requirement and wet moisture regime in 2:2 or 2:3 row ratios.</p>

<p><strong>Nutrient management </strong></p>

<p>Unlike other Rabi pulses, Rajmash is very inefficient in biological nitrogen fixation owing to poor nodulation due to non availability of suitable and efficient Rhizobium strain for Indian plains. Hence, it requires relatively higher doses of fertilizer N. For enhanced productivity, application of 90-120 kg N ha-1 has been found optimum.</p>

<p>&nbsp;Half of the nitrogen should be applied as basal during sowing and rest half as top dressing after first irrigation. Rajmash responds well to phosphorus application like cereals. Its P requirement is distinctly higher than other pulse crops, significant response to P application has been obtained up to a level of 60-80 kg P2O5 per ha.&nbsp;</p>

<p><strong>Water Management&nbsp; </strong></p>

<p>Rajmash is the most irrigation responsive pulse crop due to its shallow root system and high nutrient requirements. It requires 2 to 3 irrigations in NEPZ and 3 to 4 irrigation in CZ for achieving highest productivity. Irrigation at 25 days after sowing is most critical followed by irrigation at 75 days after sowing.</p>

<p><strong>Weed Management </strong></p>

<p>One hand weeding/hoeing at 30-35 days after sowing or application of a pre-emergence herbicide like pendimethalin @ 0.75 to 1 kg a.i./ha in 500-600 liters of water immediately after sowing helps to keep the losses by weeds below ETL (Economic Threshold Level).</p>

<p><strong>Harvesting &amp; threshing </strong></p>

<p>The crop matures in 125-130 days. Plants are cut with sickles after attaining full maturity judged by severe leaf fall, changing colour of pods and hardness of the grains. Harvested materials after 3-4 days sun drying, is collected in bundles to the threshing floors. Threshing is done by beating with sticks or trampling under the feet of bullocks.&nbsp; The clean seed should be sun dried for 3-4 days to bring their moisture content at 9-10%.&nbsp;</p>

<p><strong>Yield </strong></p>

<p>A well-managed crop can easily give 20-25qtls/ha yields under irrigated conditions of plain and 5-10 q /ha under rain fed conditions of hill with 40-50qtls/ha of straw for cattle.</p>

<p>Source: <a href="http://dpd.gov.in/">Directorate of Pulses Development</a></p>
</div>
{%endblock%}
