{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Lentil</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/3_types_of_lentil.png/1200px-3_types_of_lentil.png" alt="Lentil">
<br clear="all" />

<div  class="para text-justify">

<p><strong>Botanical Name -</strong> Lens culinaris Medikus subsp. culinaris</p>

<p><strong>Synonym -</strong> Masur, Malka (bold seeded), lentil&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><strong>Introduction </strong></p>

<p>It is a valuable human food, mostly consumed as dry seeds (whole decorticated, seed decorticated and split). In Indian sub-continent mostly consumed as &lsquo;Dal&rsquo; by removal of outer skin and separation of cotyledons, snacks and soup preparation etc. It is easy to cook and easily digestible with high biological value, hence also referred to patient. Dry leaves, stems, empty and broken pods are used as valuable cattle feed.</p>

<p>India ranked first in area and second in the production of Lentil in world.</p>

<p><strong>Nutritive value</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:163px;">
			<p>Protein</p>
			</td>
			<td style="width:163px;">
			<p>24-26%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</td>
			<td style="width:163px;">
			<p>Carbohydrate&nbsp;</p>
			</td>
			<td style="width:163px;">
			<p>57 &ndash; 60%</p>
			</td>
		</tr>
		<tr>
			<td style="width:163px;">
			<p>Fat</p>
			</td>
			<td style="width:163px;">
			<p>&nbsp;1.3%</p>
			</td>
			<td style="width:163px;">
			<p>Fibre&nbsp;&nbsp;</p>
			</td>
			<td style="width:163px;">
			<p>3.2%</p>
			</td>
		</tr>
		<tr>
			<td style="width:163px;">
			<p>Phosphorus&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</td>
			<td style="width:163px;">
			<p>300 mg/100 g</p>
			</td>
			<td style="width:163px;">
			<p>Iron</p>
			</td>
			<td style="width:163px;">
			<p>7 mg /100 g&nbsp;&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:163px;">
			<p>Vitamin C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
			</td>
			<td style="width:163px;">
			<p>10-15 mg/100 g&nbsp;&nbsp;&nbsp;</p>
			</td>
			<td style="width:163px;">
			<p>Calcium</p>
			</td>
			<td style="width:163px;">
			<p>69 mg/100g</p>
			</td>
		</tr>
		<tr>
			<td style="width:163px;">
			<p>Calorific value&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</td>
			<td style="width:163px;">
			<p>343 Kcal/100 g&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</td>
			<td style="width:163px;">
			<p>Vitamin A</p>
			</td>
			<td style="width:163px;">
			<p>(450 IU)&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p><strong>Climate requirement </strong></p>

<p>Lentil requires cold climate. It is very hardy and can tolerate frost and severe winter to a great extent. It requires cold temperature during its vegetative growth and warm temperature at the time of maturity. The optimum temperature for growth is 18-30 C.</p>

<p><strong>Soil Type and Field Preparation </strong></p>

<p>Well drained, loam soils with neutral reaction are best for lentil cultivation. Acidic soils are not fit for growing lentil. The soil should be friable and weed free so that seeding could be done at uniform depth. On heavy soils, one deep ploughing followed by two to three cross harrowing should be done. After harrowing, the field should be levelled by giving a gentle slope to ease irrigation.&nbsp;</p>

<p><strong>Sowing Time </strong></p>

<p>Recommended sowing time for Rainfed: First fortnight of October in Central and South India and second fortnight of October in North India; Under irrigated conditions- First fortnight of November in North India and for Late sowing: First week of December in rice fallows of NEPZ or on fields vacated very late by kharif crops under irrigated condition.</p>

<p><strong>Seed Rate and Sowing&nbsp; </strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For small seeded: 40-45 kg/ha; Bold seeded: 45-60 kg/ha; Late sown condition: 50-60 kg/ha; Utera cropping: 60-80 kg/ha seed is recommended. Sowing should be done in rows 30 cm. apart and it should be sown at a lower depth (3-4 cm). This could be done either by using a Ferti-seed-drill or by seeding behind desi plough.&nbsp;&nbsp;</p>

<p><strong>Seed treatment </strong></p>

<p>Fungicide: Thirum (2 gm) + Carbendazim (1gm) or Thirum @ 3 gm or Carbendazim @2.5 g per Kg. of seed; Insecticide: Chlorpyriphos 20E.C. @8 ml./Kg. of seed; Culture: Rhizobium + PSB, one packet each for 10 kg seed.</p>

<p><strong>Intercropping</strong></p>

<p>&nbsp;Most common inter cropping systems are:</p>

<p>i. &nbsp;Lentil + Sugarcane (Autumn) with two rows of lentil at 30 cm row spacing in between&nbsp;&nbsp; two&nbsp;&nbsp; rows of sugarcane&nbsp;</p>

<p>ii. Lentil + Linseed (2:2)&nbsp;</p>

<p>iii.Lentil + Mustard (2:6)</p>

<p><strong>Irrigation </strong></p>

<p>First irrigation should be given at 40-45 days of planting and second at pod filling stage. Most critical stage for moisture stress is pod formation followed by flower initiation. In absence of winter rains and where contribution of soil moisture is negligible viz. in Central India, two light irrigations may be applied for significant yield improvement. More irrigation may affect the crop performance adversely.</p>

<p><strong>Nutrient management </strong></p>

<p>Nitrogen 20 kg. Phosphorus 40 kg. and 20 kg. Sulphur per hectare in medium to low fertile soils as basal dressing.&nbsp;</p>

<p>Secondary and Micro Nutrients</p>

<p>1.<strong>Sulphur</strong> &amp;In medium black soils and sandy loam soils apply 20 kg S ha-1 (equivalent to 154 kg gypsum/ phospho-gypsum/ or 22 kg bentonite sulphur) as basal to each crop. If S deficiency is diagnosed red sandy loam soils, apply 40 kg S ha-1 (equivalent to 300 kg gypsum/phospho-gypsum/or 44 kg bentonite sulphur) per hectare. This quantity is sufficient for one crop cycle.</p>

<p>2.<strong>Boron:</strong> In lentil grown in calcareous alluvial soils, apply 1.6 kg of B ha-1 (16 kg borax/ 11 kg di-sodium tetra borate penta-hydrate) as basal to each crop.</p>

<p><strong>Harvesting, threshing, storage </strong></p>

<p>Crop become ready for harvest when leaves begin to fall, stem and pod turn brown or straw in colour and seeds are hard and rattle with 15% moisture inside them. Over ripening may lead to fall of pods as well as shattering and seed cracking if seed moisture fall below 10% due to delay in harvesting.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The crop should be allowed to dry for 4-7 days on threshing floor and threshed by manually or bullock/power drawn thresher. The clean seed should be sun dried for 3-4 days to bring their moisture content at 9-10%. The seed should be safely stored in appropriate bins and fumigated to protect them from bruchids.</p>

<p>Source: <a href="http://dpd.gov.in/">Directorate of Pulses Development</a></p>
</div>
{%endblock%}
