{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Maize</h1>
<img src="https://www.apnikheti.com/upload/crops/9634idea99Maize_cover.jpg" alt="Maize">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>Maize (Zea mays L.) is one of the most versatile emerging crop shaving wider adaptability under varied agro-climatic conditions. Globally, maize is known as queen of cereals because it has the highest genetic yield potential among the cereals. In India, maize is the third most important food crops after rice and wheat.</p>

<p><strong>Climate</strong></p>

<p>&nbsp;Maize does well on a wide range of climatic conditions, and it is grown in the tropical as well as temperate regions, from sea-levels up to altitudes of 2500m. It is however susceptible to frost at all stages of its growth.</p>

<p><strong>Soil: </strong></p>

<p>Maize can be grown successfully in variety of soils ranging from loamy sand to clay loam. However, soils with good organic matter content having high water holding capacity with neutral pH are considered good for higher productivity. Being a sensitive crop to moisture stress particularly excess soil moisture and salinity stresses; it is desirable to avoid low lying fields having poor drainage and also the field having higher salinity. Therefore, the fields having provision of proper drainage should be selected for cultivation of maize.</p>

<p><strong>Sowing time</strong></p>

<p>The optimum time of sowing are given below.</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:113px;">
			<p>Season</p>
			</td>
			<td style="width:538px;">
			<p>Optimum time of sowing</p>
			</td>
		</tr>
		<tr>
			<td style="width:113px;">
			<p>Kharif</p>
			</td>
			<td style="width:538px;">
			<p>Last week of June to first fortnight July</p>
			</td>
		</tr>
		<tr>
			<td style="width:113px;">
			<p>Rabi</p>
			</td>
			<td style="width:538px;">
			<p>Last week of October for inter cropping and up to15th of November for sole crop</p>
			</td>
		</tr>
		<tr>
			<td style="width:113px;">
			<p>Spring</p>
			</td>
			<td style="width:538px;">
			<p>First week of February</p>
			</td>
		</tr>
	</tbody>
</table>

<p><strong>Sowing method</strong></p>

<p>Maize seed should be sown with dibbling or drilling method. It is depending on purpose of sowing, type of maize, varieties and farm condition. Seed should not be sown more 5-6 cm depth of soil.</p>

<p><strong>Nutrient management</strong></p>

<p>Among all the cereals, maize in general and hybrids in particular are responsive to nutrients applied either through organic or inorganic sources. The rate of nutrient application depends mainly on soil nutrient status/balance and cropping system. For obtaining desirable yields, the doses of applied nutrients should be matched with the soil supplying capacity and plant demand (Site-specific nutrient management approach) by keeping in view of the preceding crop (cropping system).</p>

<p>Full doses of P, K and Zn should be applied as basal preferably drilling of fertilizers in bands along the seed using seed-cum-fertilizer drills. Nitrogen should be applied in 5-splits as detailed below for higher productivity and use efficiency. N application at grain filling results in better grain filling. Therefore, nitrogen should be applied in five splits as per below mentioned for higher N use efficiency.</p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:198px;">
			<p>Crop stage</p>
			</td>
			<td style="width:151px;">
			<p>Nitrogen rate (%)</p>
			</td>
		</tr>
		<tr>
			<td style="width:198px;">
			<p>Basal (at sowing)</p>
			</td>
			<td style="width:151px;">
			<p>20</p>
			</td>
		</tr>
		<tr>
			<td style="width:198px;">
			<p>V4 (four leaf stage)</p>
			</td>
			<td style="width:151px;">
			<p>25</p>
			</td>
		</tr>
		<tr>
			<td style="width:198px;">
			<p>V8 (eight leaf stage)</p>
			</td>
			<td style="width:151px;">
			<p>30</p>
			</td>
		</tr>
		<tr>
			<td style="width:198px;">
			<p>VT (tasseling stage)</p>
			</td>
			<td style="width:151px;">
			<p>20</p>
			</td>
		</tr>
		<tr>
			<td style="width:198px;">
			<p>GF (grain filling stage)</p>
			</td>
			<td style="width:151px;">
			<p>5</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><strong>Water management:</strong></p>

<p>The irrigation water management depends on season as about 80 % of maize is cultivated during monsoon season particularly under rainfed conditions. However, in areas with assured irrigation facilities are available, depending upon the rains and moisture holding capacity of the soil, irrigation should be applied as and when required by the crop and first irrigation should be applied very carefully wherein water should not overflow on the ridges/beds. In general, the irrigation should be applied in furrows up to 2/3rd height of the ridges/beds.</p>

<p>Young seedlings, knee high stage (V8), flowering (VT) and grain filling (GF) are the most sensitive stages for water stress and hence irrigation should ensured at these stages. In raised bed planting system and limited irrigation water availability conditions, the irrigation water can also be applied in alternate furrow to save more irrigation water. In rainfed areas, tied-ridges are helpful in conserving the rainwater for its availability in the root zone for longer period. For winter maize, it is advisable to keep soil wet (frequent &amp; mild irrigation) during 15 December to 15 February to protect the crop from frost injury.</p>

<p><strong>Weed management:</strong></p>

<p>Weeds are the serious problem in maize, particularly during kharif /monsoon season they compete with maize for nutrient and causes yield loss up to 35 %. Therefore, timely weed management is needed for achieving higher yield. Atrazine being a selective and broad-spectrum herbicide in maize checks the emergence of wide spectrum of weeds.</p>

<p><strong>Harvesting</strong></p>

<p>Cobs which are to be utilized as grain should be harvested when the grains are almost dry or containing roughly 20 % moisture. The appearance in the grains of composite and high yielding varieties however may be misleading as grains become dry while the stalk and leaves are still green. The cobs are removed from the standing crop and sun dried before shelling, otherwise retained in their jackets, if kept for seed or to be consumed or utilized at a later stage.</p>

<p>For sweet corn harvesting, harvest when tassels begin to turn brown and cobs start to swell. Kernels should be full and milky. Pull ears downward and twist to take off stalk.</p>

<p>For the Baby corn, harvested young cobs, especially when the silks have either not emerged or just emerged, and no fertilization has taken place, depending on the cultivar grown.</p>

<p>Source: <a href="https://www.icar.org.in/">&nbsp;Indian Council of Agricultural Research</a></p>
</div>
{%endblock%}
