{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Mango</h1>
<img src="https://wallpapercave.com/wp/wp3284593.jpg" alt="Mango">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>Mango (Mangifera indica L.) belonging to Family Anacardiaceae is the most important commercially grown fruit crop of the country.&nbsp; It is called the king of fruits.&nbsp; India has the richest collection of mango cultivars.&nbsp;</p>

<p><strong>Area &amp; Production</strong></p>

<p>India ranks first among world&rsquo;s mango producing countries accounting for about 50% of the world&rsquo;s mango production. Major producing States are Andhra Pradesh, Bihar, Gujarat, Karnataka, Maharashtra, Orissa, Tamil Nadu, Uttar Pradesh and West Bengal.&nbsp; Other States where mangoes are grown include Madhya Pradesh, Kerala, Haryana, Punjab etc.</p>

<p><strong>Economic Importance</strong></p>

<p>The fruit is very popular with the masses due to its wide range of adaptability, high nutritive value, richness in variety, delicious taste and excellent flavour.&nbsp; It is a rich source of vitamin A and C. The fruit is consumed raw or ripe. Good mango varieties contain 20% of total soluble sugars. The acid content of ripe desert fruit varies from 0.2 to 0.5 % and protein content is about 1 %.</p>

<p>Raw fruits of local varieties of mango trees are used for preparing various traditional products like raw slices in brine, amchur, pickle, murabba, chutney, panhe (sharabat) etc. Presently, the raw fruit of local varieties of mango are used for preparing pickle and raw slices in brine on commercial scale while fruits of Alphonso variety are used for squash in coastal western zone.</p>

<p>The wood is used as timber, and dried twigs are used for religious purposes. The mango kernel also contains about 8-10% good quality fat which can be used for saponification.&nbsp; Its starch is used in confectionery industry. Mango also has medicinal uses. The ripe fruit has fattening, diuretic and laxative properties. It helps to increase digestive capacity.</p>

<p>&nbsp;</p>

<p><strong>Agro-climatic requirements</strong></p>

<p>Mango is well adapted to tropical and sub-tropical climates. It thrives well in almost all the regions of the country but cannot be grown commercially in areas above 600 m. It cannot stand severe frost, especially when the tree is young. High temperature by itself is not so injurious to mango, but in combination with low humidity and high winds, it affects the tree adversely.</p>

<p>Mango varieties usually thrive well in places with rainfall in the range of 75-375 cm. /annum and dry season. The distribution of rainfall is more important than its amount. Dry weather before blossoming is conducive to profuse flowering. Rain during flowering is detrimental to the crop as it interferes with pollination. However, rain during fruit development is good but heavy rains cause damage to ripening fruits. Strong winds and cyclones during fruiting season can play havoc as they cause excessive fruit drop.</p>

<p>Loamy, alluvial, well drained, aerated and deep soils rich in organic matter with a pH range of 5.5 to 7.5 are ideal for mango cultivation.</p>

<p><strong>Varieties Cultivated</strong></p>

<p>In India, about 1,500 varieties of mango are grown including 1,000 commercial varieties. Each of the main varieties of mango has a unique taste and flavour.</p>

<p><strong>Planting</strong></p>

<p><strong>Planting Material</strong></p>

<p>Mango can be propagated from seed or propagated vegetatively. Plants are generally propagated vegetatively by using several techniques like veneer grafting, inarching and epicotyl grafting etc.</p>

<p><strong>Planting Season</strong></p>

<p>Planting is usually done in the month of July-August in rainfed areas and during February-March in irrigated areas.&nbsp; In case of heavy rainfall zones, planting is taken up at the end of rainy season.</p>

<p><strong>Spacing</strong></p>

<p>The planting distance is 10m. x 10m. and 12m. x 12m. in dry and moist zones respectively.&nbsp; In the model scheme, a spacing of 8m. x 8m. with a population of 63 plants per acre has been considered which was observed to be common in areas covered during a field study.</p>

<p><strong>Nutrition</strong></p>

<p>Fertilizers may be applied in two split doses, one half immediately after the harvesting of fruits in June/July and the other half in October, in both young and old orchards followed by irrigation if there are no rains. Foliar application of 3 % urea in sandy soils is recommended before flowering.</p>

<p>The following table gives the details of fertilizer applied (depending upon the age of the plants) :</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:140px;">
			<p align="center"><strong>Age of the plant (in years)</strong></p>
			</td>
			<td style="width:233px;">
			<p align="center"><strong>Fertilizer applied</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:140px;">
			<p align="center">1*</p>
			</td>
			<td style="width:233px;">
			<p>100g. N, 50g. P<sub>2</sub>O<sub>5</sub>, 100g. K<sub>2</sub>O</p>
			</td>
		</tr>
		<tr>
			<td style="width:140px;">
			<p align="center">10</p>
			</td>
			<td style="width:233px;">
			<p>1kg. N, 500g. P<sub>2</sub>O<sub>5</sub>, 1kg. K<sub>2</sub>O</p>
			</td>
		</tr>
		<tr>
			<td style="width:140px;">
			<p align="center">11</p>
			</td>
			<td style="width:233px;">
			<p>-do-</p>
			</td>
		</tr>
	</tbody>
</table>

<p>Well decomposed farm-yard manure may be applied every year. For trench application of fertilizers, 400g. each of N and K2O and 200g. of P2O5 per plant should be provided. Micro-nutrients may be applied as per the requirement in the form of foliar sprays.</p>

<p><strong>Irrigation</strong></p>

<p>The frequency and amount of irrigation to be provided depends on the type of soil, prevailing climatic conditions, rainfall and its distribution and lastly the age of the trees. No irrigation is required during the monsoon months unless there are long spells of drought.</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:183px;">
			<p><strong>Age of the plant (in years)/Growth stage</strong></p>
			</td>
			<td style="width:407px;">
			<p><strong>Irrigation schedule</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:183px;height:19px;">
			<p>1</p>
			</td>
			<td style="width:407px;height:19px;">
			<p style="margin-left:25.4pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Irrigated at an interval of 2-3 days during dry season.</p>
			</td>
		</tr>
		<tr>
			<td style="width:183px;">
			<p>2-5</p>
			</td>
			<td style="width:407px;">
			<p style="margin-left:25.4pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Irrigation interval- 4-5 days .</p>
			</td>
		</tr>
		<tr>
			<td style="width:183px;">
			<p>5-8/ fruit set to maturity</p>
			</td>
			<td style="width:407px;">
			<p style="margin-left:25.4pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Irrigated after every 10-15 days</p>
			</td>
		</tr>
		<tr>
			<td style="width:183px;">
			<p>Full bearing stage</p>
			</td>
			<td style="width:407px;">
			<p style="margin-left:25.4pt;">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2-3 irrigations after fruit set.</p>
			</td>
		</tr>
	</tbody>
</table>

<p>Frequent irrigation during 2-3 months prior to the flowering season is not advisable as it is likely to promote vegetative growth at the expense of flowering. Irrigation should be given at 50% field capacity. Generally inter-crops are grown during the early years of plantation and hence frequency and method of irrigation has to be adjusted accordingly. The method usually followed for irrigating mango plants is basin irrigation. However, use of Drip Irrigation will not only reduce the water requirements but will also help in fertigation in root zones of the plants.</p>

<p><strong>Intercultural Operations</strong></p>

<p>The frequency and the time of inter-culture operations vary with age of the orchards and existence of inter-crops. The weed problem may not exist immediately after planting the mango crop but it is advisable to break the crust with hand hoe each time after 10-15 irrigations are applied. In case of mono-cropping, the area between the basins should be ploughed at least three times in a year i.e. during the pre-monsoon, post-monsoon period and in the last week of November.</p>

<p><strong>Inter-cropping</strong></p>

<p>Intercropping can be taken up till the mango trees attain suitable height and develop canopy (at 5-6 years of age). Leguminous crops like green gram, black gram, gram etc., cereals like wheat, oilseeds like mustard, sesame and groundnut, vegetable crops such as cabbage, cauliflower, tomato, potato, brinjal, cucumber, pumpkin, bitter gourd, tinda, lady&rsquo;s finger etc. and spices like chillies can be grown as intercrops.</p>

<p>The partial shade loving crops like pineapple, ginger, turmeric etc. can be cultivated in fully grown orchards. In addition to field crops, some short duration , less exhaustive and dwarf type inter- fillers like papaya, guava, peach, plum etc. can be grown till these do not interfere with the main mango crop .It is advisable to take vegetable crops as inter crops for better returns.</p>

<p><strong>Diseases and Disorders</strong></p>

<p>The crop is suspect to diseases like powdery mildew, anthracnose, die back, blight, red rust, sooty mould, etc.&nbsp; In order to control these diseases spraying of appropriate chemicals/fungicides have to be undertaken preferably on preventive basis.</p>

<p>Disorders can also affect the crop if proper case and control measures are not taken.&nbsp; The major among these are malformation, biennial bearing, fruit drop, black tip, clustering etc.&nbsp; The grower needs to seek advice and professional assistance to prevent/control diseases and disorders in the crop.</p>

<p><strong>Harvesting and Yield</strong></p>

<p>The orchard starts bearing from sixth year onwards and the economic life of a mango tree exceeds 35 years.</p>

<p>Yield of fruits varies considerably according to the variety, climatic conditions, plant population etc.&nbsp; On an average, the yield ranges from 5 to 9 t/acre.&nbsp; Grafted plants start bearing early.</p>

<p><strong>Storage</strong>&nbsp;</p>

<p>The mature green fruits can be stored at room temperature for about 4-10 days depending upon the variety. The harvested fruits are pre-cooled to 10-12<sup>0</sup> C and then stored at an appropriate temperature. The fruits of Dashehari, Mallika and Amrapalli should be stored at 12<sup>0</sup> C, Langra at 14<sup>0</sup> C and Chausa at 8<sup>0</sup> C with 85-90 % relative humidity.</p>

<p><strong>Packing</strong></p>

<p>Wooden or cardboard boxes, rectangular in shape and bamboo baskets having capacity to accommodate 5 to 8kg. of fruit is used for packaging and transportation of mango fruits. The most commonly used containers are ventilated card board boxes of corrugated fibre board (CFB) cartons. Size of the box varies to accommodate 5 to 10 kg. of fruit.</p>

<p>Source: <a href="http://nhb.gov.in/">National Horticulture Board</a></p>
</div>
{%endblock%}