{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Mungbean</h1>
<img src="https://c1.wallpaperflare.com/preview/365/769/148/mung-beans-moong-beans-green-gram-golden-gram-beans-green.jpg" alt="Mungbean">
<br clear="all" />
<div  class="para text-justify">

<p><strong>Botanical Name -</strong> Vigna radiata (L.) Wilczek</p>

<p><strong>Origin -</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; India and Central Asia</p>

<p><strong>Synonym -</strong> Moong</p>

<p><strong>Introduction </strong></p>

<p>Green gram is excellent source of high quality protein. Moong is consumed as whole grains, sprouted form as well as dhal in a variety of ways in homes. It is also used as green manuring crop. Moong can be used as a feed for cattle even husk of the seed can be soaked in water and used as cattle feed.&nbsp; In India these crops are cultivated in three different seasons, viz., kharif, rabi and summer. Summer moong can be grown after harvesting of pea, gram, potato, mustard, linseed. Cultivation of Jayad Moong is important to increase soil fertility in these areas where paddy &ndash;wheat crop rotation is used.&nbsp;</p>

<p><strong>Climate requirement&nbsp; </strong></p>

<p>The crop needs high temperature, less humidity and moderate rainfall of about 60-80 cm. Water logging is fatal for root development and nitrogen fixation during early vegetative stage. Crop is generally grown as rain fed but under assured irrigation during summer in Indo Gangetic plains of Northern India.</p>

<p><strong>Soil Type &amp; Field Preparation&nbsp; </strong></p>

<p>Best soil for its cultivation is loam soil with good drainage. The crop should not be raised on alkaline, saline or waterlogged soils. A well prepared seedbed is required for proper germination and establishment of the crop. For this give 2 &ndash; 3 ploughings followed by planking to make the seedbed free from clods and weeds. For the summer/spring cultivation after the harvesting of last crops, the tillage should be done after irrigation.</p>

<p><strong>Sowing Time&nbsp; </strong></p>

<p>Mungbean should be sown during the last week of June to mid or first week of July. For the summer or spring crop, mungbean should be sown after the harvest of last crop (potato, sugarcane, mustard and cotton, etc). The first fortnight of March is most suitable for spring/summer cultivation. Late sown mungbean takes more loss at the time of flowering stage due to high tempreture and yield affected.&nbsp;&nbsp;</p>

<p><strong>Seed Rate, Spacing &amp; Method&nbsp; </strong></p>

<p>During Kharif season 15-20 kg seed/ha should be sown in rows 45 cm apart while during Rabi and Summer 25-30 kg seed /ha sown in rows 30 cm apart. As a companion crop with sugarcane seed rate should be 7-8 kg/ha. The plant-to-plant distance should be maintained (atleast 5 cm). Sowing can be done behind the local plough or with the help of seed drill.</p>

<p><strong>Seed Treatment </strong></p>

<p>Treat the seed with Thirum (2gm.) +Carbendazim (1gm.) or Carbendazim &amp; Kepton (1gm.+ 2gm) to control the&nbsp; soil &amp; seed germinated disease. For sucking pest control seed treatment with Imidacloprid 70 WS @ 7g/ kg seed. It is also desirable to treat the seed with Rhizobium and PSB culture (5-7gm/kg seed).</p>

<p><strong>Intercropping </strong></p>

<p>During kharif, mungbean are grown generally with maize, pearl millet, pigeonpea and cotton as intercrop. During spring, mungbean is grown in 2:1 ratio with sugarcane with row to row distance of 90 cm. &amp; from mungbean 30 cm distance maintain. Intercropping with sunflower is also suitable with ratio (2:6).</p>

<p><strong>Manure &amp; Fertilizer </strong></p>

<p>Mungbean is generally grown on the basic fertility of soil. If available 8-10 tonnes of compost or farm yard manure should be applied before 15 days of sowing. For mungbean, 15-20 kg nitrogen, 30-40 kg phosphorus should be applied at sowing time. It is advisable to use fertilizers on the basis of soil test and recommendations, normally 100 kg DAP/ha is enough for one hectare the fertilizer should be applied by drilling either at the time of sowing or just before sowing in such a way that they are placed about 2-3 cm below the seed.&nbsp;</p>

<p><strong>Water Management </strong></p>

<p>Generally the kharif crop requires one life saving irrigation, which may be applied during the early pod formation stage. For the summer/spring mungbean, 3&ndash;4 irrigations are required. Apply first irrigation after 20-25 days of sowing and repeat after 10-15 days as per need. One irrigation before flowering and another at pod-filing stage would ensure healthy seeds. Water logging in the field should be avoided at all cost. No irrigation should be given when the crop is in full bloom stage.&nbsp;</p>

<p><strong>Weed Control </strong></p>

<p>Two weeding should be given to keep the crop free from harmful weeds. First weeding should be done 20-25 DAS and Second 40-45 DAS. Use Pendimethalin (Stamp) @ 0.75- 1 kg . a.i. per ha in 400-600 liter of water a pre-emergence application . Always flat nozzle is used during spraying of weedicide.&nbsp;&nbsp;</p>

<p><strong>Harvesting Threshing &amp; Storage </strong></p>

<p>Mung should be harvested when more than 80 per cent pods mature. One or two rounds of picking of pods are also recommended to avoid losses due to shattering. The plants are cut with the sickle and dried on the threshing floor. These are then threshed by beating with sticks or by trampling with bullocks. The clean seeds should be sun dried for 3-4 days to bring their moisture content at 8-10% to safely store in appropriate bins.</p>

<p>Source: <a href="http://dpd.gov.in/">Directorate of Pulses Development</a></p>
</div>
{%endblock%}