{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Muskmelon</h1>
<img src="https://c1.wallpaperflare.com/preview/210/814/490/muskmelons-cantaloupes-fruit-melon.jpg" alt="Muskmelon">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>It is important vegetable crop of India. These are mother fruits of several better-known cultivars. Muskmelon is native to Iran, Anatolia and Armenia. Musk melon is rich source of Vitamin A and Vitamin C. It contains about 90% of water and 9% Carbohydrates. In India muskmelon growing state includes Punjab, Tamil Nadu, Uttar Pradesh, Maharashtra, and Andhra Pradesh. Melon are the fruit specially known for their high water content and muskmelon no exception. This is one of the many fruits which you must consume in hot days and peculiarly in summer days. Muskmelon is one of the fruits which help you overcome dehydration thanks to his excellent water retention capability.</p>

<p><strong>Land selection and preparation: </strong></p>

<p>Plough land and bring to fine tilth. In North India, sowing is done in middle of February month. In North east and west India sowing is done during November to January.</p>

<p>Beds should be worked 16 to 20 cm deep to promote deep rooting. Raised beds or hills are an alternative to the conventional field planting method. This planting system improves soil drainage and allows access to the crop without causing soil compaction. Raised beds are typically 1 m to 2 m wide and 30 m long. The width is determined by the type of equipment used and by the crop.</p>

<p><strong>Manuring: </strong></p>

<p>Apply FYM 20 t/ha, NPK 40:60:30 kg/ha as basal and N @ 40 kg/ha 30 days after sowing. Apply Azospirillum and Phosphobacteria @ 2 kg/ha and Pseudomonas @ 2.5 kg/ha along with FYM 50 kg and neem cake 100 kg before last ploughing.</p>

<p><strong>Season of sowing:</strong></p>

<p>November to February. Sow the seeds @ 3.0 kg/ha after treating with Trichoderma viride @ 4g or Pseudomonas fluroscens @ 10 g or carbendazim @ 2g/kg of seed on one side of the channel giving a spacing of 0.6 m between hills. Thin the seedlings after 15 days, to maintain two per hill.</p>

<p><strong>Climate:&nbsp; </strong></p>

<p>Muskmelon is a hot and dry season crop. The seed germinates best at the temperature of 28&deg;C - 30 &deg;C and grows well at 25&deg;C - 35&deg;C. It requires also plenty of sunshine. Continuous rain or high humidity will increase disease problem and reduce flowering and fruit setting. The growth will be slow when the weather is cold.</p>

<p><strong>Seed treatment: </strong></p>

<p>Before sowing treat seed with Carbendazim@2gm/kg of seeds. After chemical treatment, treat the seeds with Trichoderma viride@4gm per kg of seeds. Dry seeds in shade and then do sowing immediately.</p>

<p><strong>Transplanting: </strong></p>

<p>&nbsp;Sow seeds in polythene bag of 15cm x 12cm size with thickness of 100 gauge in last week of January or first week of February. Fill polythene bag with equal proportion of well rotten cow dung and soil. Seedlings are ready for transplantation by end of February or first week of March. Transplantation is done for 25-30 days old seedling. Apply irrigation immediately after transplantation.</p>

<p><strong>Spacing: </strong></p>

<p>Prepare 3-4m wide beds depending upon variety use. Sow two seeds per hill on bed and keep distance of 60cm between hills.</p>

<p><strong>Seed rate: </strong></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For sowing in one acre land, seed rate of 400gm seeds are required.</p>

<p><strong>Water management: </strong></p>

<p>&nbsp;Apply irrigation, every week in summer season. At time of maturity give irrigation only when needed. Avoid over flooding in muskmelon field. During application of irrigation, do not wet the vines or vegetative parts, especially during flowering and fruit-set. Avoid frequent irrigation in heavy soil as it will promote excessive vegetative growth. For better sweetness and flavor, stop irrigation or reduce watering 3-6days before harvesting.&nbsp;</p>

<p><strong>Harvesting: </strong></p>

<p>Muskmelon fruit will be ready for picking in about 110 days depending upon variety and agro- climate. Harvesting of&nbsp; Hara madhu should be done when fruits turn to yellow. Harvest other variety depending upon market distance. For long distance markets harvest fruits at mature green stage where as for local markets harvest at half-slip stage. A slight depression of the stem end indicates half-slip stage.</p>

<p><strong>Post-harvest handling: </strong></p>

<p>After harvesting do precooling to reduce field heat. Grading is done on basis of size of fruit. Muskmelons harvested at partial slip can be held for up to 15 days at 2&deg; to 5&deg;C at 95% relative humidity whereas Muskmelons harvested at full slip can be held for 5 to 14 days at 0&deg; to 2.2&deg;C at 95% relative humidity.&nbsp;</p>

<p>Source: <a href="https://www.agriapp.co.in/">https://www.agriapp.co.in</a></p>
</div>
{%endblock%}