{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Papaya</h1>
<img src="https://5.imimg.com/data5/LI/PR/MY-5825651/organic_papaya_large-500x500.jpg" alt="Papaya">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>Papaya (Carica papaya) is a tropical fruit having commercial importance because of its high nutritive and medicinal value. Papaya cultivation had its origin in South Mexico and Costa Rica. India leads the world in papaya production with an annual output of about 5.6 million tonnes.</p>

<p><strong>Production</strong></p>

<p>Papaya is mostly cultivated in the states of Andhra Pradesh, Karnataka, Gujarat, Orissa, West Bengal, Assam, Kerala, Madhya Pradesh and Maharashtra.</p>

<p><strong>Economic Importance</strong></p>

<p>Fruit is a rich source of vitamin A and C. It has a high nutritive and medicinal value. Papain prepared from dried latex of its immature fruits is used in meat tenderizing, manufacture of chewing gum, cosmetics, for degumming natural silk and to give shrink resistance to wool. It is also used in pharmaceutical industries, textile and garment cleaning paper and adhesive manufacture, sewage disposal etc.</p>

<p><strong>Agro-climatic requirements</strong></p>

<p>Papaya being a tropical fruit grows well in the mild sub-tropical regions of the country upto 1,000 m. above sea level. Night temperature below 12-14 C for several hours during winter season affects its growth and production severely. It is very much sensitive to frost, strong winds and water stagnation. Deep, well drained sandy loam soil is ideal for cultivation of papaya.</p>

<p><strong>Land Preparation</strong></p>

<p>A well-drained upland is selected for cultivation. In open and high lying areas plants are exposed to strong winds or storm. Therefore, for proper establishment of papaya plantation, suitable wind break should be planted at the orchard boundary.</p>

<p><strong>Planting Material</strong></p>

<p>Papaya is commercially propagated by seed and tissue culture plants. The seed rate is 250-300 g./ha. The seedlings can be raised in nursery beds 3m. long, 1m. wide and 10 cm. high as well as in pots or polythene bags. The seeds after being treated with 0.1% Monosan (phenyl mercuric acetate), ceresan etc. are sown 1 cm. deep in rows 10 cm. apart and covered with fine compost or leaf mould. Light irrigation is provided during the morning hours. The nursery beds are covered with polythene sheets or dry paddy straw to protect the seedlings. About 15-20 cm. tall seedlings are chosen for planting in about two months.&nbsp;</p>

<p><strong>Planting season</strong></p>

<p>Papaya is planted during spring (February-March), monsoon (June-July) and autumn (October-November).</p>

<p><strong>Spacing</strong></p>

<p>A spacing of 1.8 x 1.8 m. is normally followed.&nbsp; However higher density cultivation with spacing of 1.5 x 1.5 m./ha enhances the returns to the farmer and is recommended.</p>

<p><strong>Planting Method</strong></p>

<p>The seedlings are planted in pits of 60x60x60 cm. size. In the summer months the pits are dug about a fortnight before planting. The pits are filled with top soil along with 20 kg. of farmyard manure., 1 kg. neem cake and 1 kg. bone meal. Tall and vigorous varieties are planted at greater spacing while medium and dwarf ones at closer spacing.</p>

<p><strong>Nutrition</strong></p>

<p>Papaya plant needs heavy doses of manures and fertilizers. Apart from the basal dose of manures (@ 10 kg./plant) applied in the pits, 200-250 g. each of N, P2O5 and K2O are recommended for getting high yield. Application of 200 g. N is optimum for fruit yield but papain yield increases with increase in N upto 300 g.</p>

<p><strong>Micronutrients</strong></p>

<p>Micro-nutrients viz. ZnSO4 (0.5%) and H2 BO3 (0.1%) are sprayed in order to increase growth and yield characters.</p>

<p><strong>Irrigation</strong></p>

<p>The irrigation schedule is fixed on the basis of soil type and weather conditions of the region. Protective irrigation is provided in the first year of planting. During the second year, irrigation is provided at fortnightly interval in winter and at an interval of 10 days in summer. Basin system of irrigation is mostly followed. In areas having low rainfall, sprinkler or drip system can be adopted.</p>

<p><strong>Intercultural Operations</strong></p>

<p>Deep hoeing is recommended during the first year to check weed growth. Weeding should be done on regular basis especially around the plants. Application of Fluchloralin or Alachlorin or Butachlorine (2.0 g./ha.) as pre-emergence herbicide two months after transplanting can effectively control the weeds for a period of four months. Earthing up is done before or after the onset of monsoon to avoid water-logging and also to help the plants to stand erect.</p>

<p><strong>Harvesting&nbsp; and Yield</strong></p>

<p>Fruits are harvested when they are of full size, light green in colour with tinge of yellow at apical end. On ripening, fruits of certain varieties turn yellow while some of them remain green. When the latex ceases to be milky and become watery, the fruits are suitable for harvesting.</p>

<p>The economic life of papaya plant is only 3 to 4 years.&nbsp; The yield varies widely according to variety, soil, climate and management of the orchard. The yield of 75-100 tonnes /ha. is obtained in a season from a papaya orchard depending on spacing and cultural practices.</p>

<p><strong>Storage</strong></p>

<p>Fruits are highly perishable in nature. They can be stored for a period of 1-3 weeks at a temperature of 10-13 C and 85-90% relative humidity.</p>

<p>Source: <a href="http://nhb.gov.in/">National Horticulture Board</a></p>
</div>
{%endblock%}
