{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Pigeonpea</h1>
<img src="https://5.imimg.com/data5/TH/AP/KN/SELLER-7112013/red-gram-pigeon-pea-seeds-500x500.png" alt="Pigeonpea">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>Pigeonpea (Cajanus cajan (L.) Millsp.), commonly known as red gram or tur or Arhar, is a very old crop of this country. After gram, arhar is the second most important pulse crop in the country. It is mainly eaten in the form of split pulse as &lsquo;dal&rsquo;. Seeds of arhar are also rich in iron, iodine, essential amino acids like lycine, threonine, cystine and arginine etc.</p>

<p>More than 80% of tur production comes from 6 states of Maharashtra, MP, Karnataka, UP, Gujarat and Jharkhand.</p>

<p><strong>Climate</strong></p>

<p>Pigeonpea is predominantly a crop of tropical areas mainly cultivated in semi arid regions of India. Pigeonpea can be grown with a temperature ranging from 260C to 300C in the rainy season (June to October) and 170C to 220C in the post rainy (November to March) season. Pigeonpea is very sensitive to low radiation at pod development, therefore flowering during the monsoon and cloudy weather, leads to poor pod formation.</p>

<p><strong>Soil type and Field Preparation</strong></p>

<p>It is successfully grown in black cotton soils, well drained with a p H ranging from 7.0 - 8.5. Pigeonpea responds well to properly tilled and we ll drained seedbed. A deep ploughing with soil turning plough in fallow/waste lands, zero tillage sowing under intensive cropping system and Broad Bed Furrow/Ridge - furrow planting in low lying as well as intercropping areas is recommended. Raised Bed method of planting by dibbling at 2 inches depth with Row to Row distance 4 to 5 feet also 15 feet gap (2 pairs of Tur on bed) under intercropping of soybean under transplanting (Dharwad method/SPI), 5 X 3 and 3 X 1.5 feet spacing is recommended.</p>

<p><strong>Sowing Time and Method</strong></p>

<p>Early Maturing varieties - First fortnight of June; Medium &amp; Late Maturing Varieties - Second fortnight of June. Line sowing by seed drill or desi plough or by dibbling on the ridge and beds, both are recommended as per the area.</p>

<p><strong>Cropping system</strong></p>

<p>The space between the rows could be profitably utilized by growing short duration crops such as urd, moong, cowpea, etc.</p>

<p>Important cropping systems followed are:</p>

<ul>
	<li>Maize &ndash; Pigeonpea (Rabi)</li>
	<li>Pigeonpea - Urd - Wheat</li>
	<li>Pigeonpea - Sugarcane</li>
	<li>Mung + Pigeonpea - Wheat</li>
	<li>Pigeonpea (early) - Potato &ndash; urdbean</li>
</ul>

<p><strong>Irrigation and Drainage</strong></p>

<p>Being a deep rooted crop, it can to lerate drought. But in case of prolonged drought there is need of three irrigation.</p>

<ul>
	<li>1st at branching stage (30 DAS)</li>
	<li>2nd one in flowering stage (70 DAS) and</li>
	<li>3rd at the time of podding stage (110 DAS).</li>
</ul>

<p>A pre-requisite for the success of pigeonpea is proper drainage. Ridge planting is effective in areas where sub-surface drainage is poor. Th is provide enough aeration for the roots during the period of excess rainfall.</p>

<p><strong>Harvesting &amp; Threshing</strong></p>

<p>With two third to three fourth pods at maturity judged by changing their colour to brown is the best harvesting time. The plants are usually cut with a sickle within 75 cm above the ground. Harvested plants should be left in the field for sun drying for 3-6 days depending on season.</p>

<p>Threshing is done either by beating the pods with stick or using Pullman thresher. The proportion of seed to pods is generally 50 - 60%. The clean seeds should be sun dried for 3-4 days to bring their moisture content at 9-10% to safely store in appropriate bins.</p>

<p>To avoid further development of bruchids and other storage pests, it is recommended to fumigate the storage material before onset of monsoon and again after the monsoon with ALP @ 1 - 2 tablets per tonne. The small quantity of the produce can also be protected by mixing inert material (soft stone, lime, ash, etc) or by smearing edible/non-edible vegetable oils or by mixing plant products like neem leaf powder at the rate of 1- 2% w/w basis.</p>

<p><strong>Source:</strong> <a href="http://dpd.gov.in/Pigeonpea.PDF" target="_blank" title="(External website that opens in new window)">Directorate of Pulses Development</a></p>
</div>
{%endblock%}
