{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Rice</h1>
<img src="https://ak.picdn.net/shutterstock/videos/4916168/thumb/1.jpg" alt="Rice">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>Rice is the most important food crop of India covering about one-fourth of the total cropped area and providing food to about half of the Indian population. India is the world&#39;s second largest producer of rice, and the largest exporter of rice in the world.</p>

<p><strong>Production</strong></p>

<p>Rice is grown in almost all the states in the country however the major 5 states in rice production are West Bengal, UP, Andhra Pradesh, Punjab and Tamil Nadu.</p>

<p><strong>Land preparation </strong></p>

<p>The field is prepared by ploughing the rice fields with soil turning plough followed by harrowing. The rice field is filled with water and is puddled twice by paddy puddler or once by rotavator. If green manure crop like dhaincha or mung has been taken, it may be mixed with rotavator during puddling followed by planking.</p>

<p><strong>Seed rate</strong></p>

<p>The seed rate of rice varies based on the methods of sowing/transplanting.&nbsp; In broadcasting method seed rate is about 80kg/ha under transplanting method it is about 2030 kg/ha and under&nbsp; SRI method seed rate is only 5-8 kg/ ha.</p>

<p><strong>Seed treatment </strong></p>

<p>Seed treatment is done by dissolving 10 g carbendazim (Bavistin) and 1g streptocycline in 10 litres of water sufficient for 10 kg seed. The soaked seed should be for 24 hours before sowing or transplanting. The soaked seeds are covered till it is sprouted.</p>

<p><strong>Sowing Time</strong></p>

<p>The rice is grown almost in all crop seasons ie Kharif, Rabi and summar in the country. However, depending upon the prevailing weather, it is sown in different periods in different regions.&nbsp;</p>

<p><strong>Manures and Fertilizer Management </strong></p>

<p>The fertilizers and organic manures may be applied based on available soil nutrients after the soil tests. The objective should be to reduce the input costs to obtain optimum productivity. In general, about 80-100 kg nitrogen /ha is applied in 3 split doses; half (4050 kg ) as basal dose, one forth (20-25 kg) at tillering stage and remaining a week before panicle initiation where top dressing is not possible. Along with basal dose (50% of nitrogen) 40-45 kg P2 O5 and 30-40 kg K2O are also applied depending on soil test. Bio fertilizers such as blue green algae or Azolla provide 20-25 kg N/ha, which may be added as partial supplement to inorganic fertilizer. The application of micro-nutrients may also be applied based on soil test.&nbsp;</p>

<p><strong>Water management </strong></p>

<p>Uniform leveling of field and proper drainage are most essential for an effective water management in irrigated field.&nbsp; Efficient water- management facilitates good tillering and better nitrogen uptake and helps in reducing weed population.&nbsp;</p>

<p><strong>Weed management</strong></p>

<p>The problem of weeds is less in puddled fields but it is high in unpuddled fields. Usually, 2-3 hoeing or manual picking of weeds are required to control the weeds. Some herbicides such as Anilophos, Butachlor, Anilophos+Ethoxysulfuron, Pyrosolfuron-ethyl, Almix +Butachlor , Fentrazamide , Cinmethyline+2,4D are used.</p>

<p><strong>Harvesting and threshing</strong></p>

<p>The crop should be harvested when the grains turn yellow moisture content is below 25 %. The harvesting and threshing is done manually and also by combine harvesters and threshers.&nbsp;</p>

<p>Source: <a href="https://nfsm.gov.in/">National Food Security Mission</a></p>
</div>
{%endblock%}
