{% extends 'base.html' %}
{% block body %}	

<div  class="lrm lrm pt-5 mt-5">
<h1 class="Pageheader headercolor" >Watermelon</h1>
<img src="https://c4.wallpaperflare.com/wallpaper/72/665/231/4k-watermelon-wallpaper-preview.jpg" alt="Watermelon">
<br clear="all" />
<h5 class="headercolor"><b>Introduction</b></h5>
<div  class="para text-justify">

<p>Botanically, watermelon is called Citrullus lanatus and it belongs to Cucurbitaceae family. All the different types of gourds are classified under Cucurbitaceae family. The melons grow on a vine that can reach a length of 3 meters. It is an annual plant, that is, it can only survive in one growing season. The vines are covered with tiny hairs; they are thin and have groves in them. The flowers are yellow-colored. The specialty of this plant is that male and female flowers are produced separately on the same plant. The fruit varies in shape from oblong to spherical. The fleshy fruit is encased in a thick rind while the seeds are encased inside the flesh.</p>

<p><strong>Climate &amp; Soil</strong></p>

<p>Watermelon is a warm season crop, which requires dry weather with abundant sunshine for quality fruit production. The crop can be grown on well drained sandy, sandy loam or alluvial soils. A pH range of 6.0-7.0 and temperature range of 24-27&deg; C are considered optimum for the growth of the vines. Cool nights and warm days are ideal for accumulation of sugars in the fruits. The seed germinates best when temperatures are higher than 20&deg; C. High humidity at the time of vegetative growth renders the crop susceptible to various fungal diseases.</p>

<p><strong>Seed rate</strong></p>

<p>Approximately 1.0-1.5 kg of seeds are required for cultivating one hectare of land. To improve germination percentage, soak the seeds over night in water, drain and keep wrapped in wet gunny bags.</p>

<p><strong>Planting</strong></p>

<p>December-April is the ideal seasons for growing watermelon. Prepare the soil to a fine tilth by ploughing and harrowing. Various systems of sowing can been adopted.</p>

<p><strong>Irrigation</strong></p>

<p>Irrigate at three or four days interval during the initial stages of growth. Irrigation should be given on alternate days during flowering and fruiting. When fruits are mature, the frequency of irrigation may be reduced. Application of water should be restricted to the base of the plant or root zone to avoid wetting of the vines or vegetative parts, as it will promote diseases and rotting of fruits. Mulching will also help to reduce moisture loss.</p>

<p><strong>Harvesting</strong></p>

<p>Harvest the crop in about 75-100 days after sowing depending upon cultivar and season. Fruits should be harvested at full maturity for local markets; while for transporting to distant markets, harvest slightly earlier. Maturity indices of watermelon are withering of tendril and change in belly colour. The mature fruits on thumping give dull sound as against metallic sound of unripe fruits, which is also a good indication. Fruits should be harvested from the vines with the help of a knife.</p>

<p>The yield of watermelon varies between 20-25 t/ha according to variety, season, etc. Harvested melons are graded according to their size, external appearances, symmetry and uniformity in appearance. The surface should be waxy and bright in appearance; devoid of scars, sunburn, transit abrasions or other surface defects. Watermelons can be stored for 14 days at 15&deg;C.</p>

<p>For short term storage or transit to distant markets, fruits can be stored at 7.2&deg;C with 85-90 % relative humidity. Extended holding at this temperature will induce chilling injury. Do not store watermelons with apples and bananas as the ethylene produced from these fruits hastens softening and development of off flavour to watermelons.</p>
</div>
{%endblock%}